/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --base-sprite-image: url(/static/images/themes/dark/sprite.png);

  --base-color-1: #333;
  --base-color-2: #939393;
  --base-color-3: #838383;
  --base-color-4: #636363;
  --base-color-5: #434343;
  --base-color-6: #363636;
  --base-color-7: #2C2C2C;
  --base-color-8: #262626;

  --base-accent-color-1: #2383C3; /* blue */
  --base-accent-color-1-a6: #2383C399;
  --base-accent-color-2: #DA2367; /* red */

  --content-background-color-alpha: #262626CC; /* --base-color-8 */


  /* Override some variables */
  --application-header-foreground-color: #FCFCFC;
  --secondary-region-header-foreground-color: #999;
  --hovered-tab-foreground-color: #C3C3C3;
  --active-textbox-foreground-color: #C3C3C3;
  --content-foreground-color: #B3B3B3;
  --inactive-selected-control-foreground-color: #B3B3B3;
}

ins, del {
  text-decoration-color: #838383CC; /* --secondary-content-foreground-color */
}

::-moz-selection {
  background-color: #2383C366; /* --selected-text-background-color */
}

.patch[itemtype$="Attachment"][data-content-type] .preview tr {
  --head-background-color: #262640;
  --removed-background-color: #402626;
  --added-background-color: #264026;
}
