/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Dark Color Palette
 *
 * Note:
 * Foreground Colors should have odd values like *3*3*3 or *B*B*B
 * Background Colors should have even values like *4*4*4 or *C*C*C
 *
 * Swatches:
 * Foreground: #939393, #838383, #636363, #BBB, #C3C3C3, #FBFBFB
 * Background: #1C1C1C, #3C3C3C, #343434, #303030, #222, #282828, #202020, #FCFCFC
 * Accent: #1A608F
 */

/* ----------------------------------------------------------------------------------------------
 * Variables
 * ---------------------------------------------------------------------------------------------- */

:root {
  --base-sprite-image: url(/static/images/themes/dark/sprite.png);

  --base-foreground-color-1: #939393;
  --base-foreground-color-2: #838383;
  --base-foreground-color-3: #636363;
  --base-foreground-color-4: #BBB;
  --base-foreground-color-5: #C3C3C3;
  --base-foreground-color-6: #FBFBFB;
  --base-background-color-1: #1C1C1C;
  --base-background-color-2: #3C3C3C;
  --base-background-color-3: #343434;
  --base-background-color-4: #303030;
  --base-background-color-5: #222;
  --base-background-color-6: #282828;
  --base-background-color-7: #202020;
  --base-background-color-8: #FCFCFC;
  --base-accent-color-1: #1A608F;

  --application-foreground-color: var(--base-foreground-color-1);
  --application-background-color: var(--base-background-color-6);
  --application-header-border-color: var(--base-background-color-1);
  --application-header-foreground-color: var(--base-foreground-color-5);
  --application-header-background-color: var(--base-background-color-1);
  --secondary-application-header-foreground-color: var(--base-foreground-color-2);
  --secondary-application-header-background-color: var(--base-background-color-2);

  --region-border-color: var(--base-background-color-3);
  --region-background-color: var(--base-background-color-5);
  --region-header-border-color: var(--base-background-color-2);
  --region-header-foreground-color: var(--base-foreground-color-5);
  --region-header-background-color: var(--base-background-color-2);
  --secondary-region-background-color: var(--base-background-color-6);
  --secondary-region-border-color: var(--base-background-color-4);
  --secondary-region-header-border-color: var(--base-background-color-3);
  --secondary-region-header-foreground-color: var(--base-foreground-color-5);
  --secondary-region-header-background-color: var(--base-background-color-3);

  --button-border-color: var(--base-background-color-4);
  --button-foreground-color: var(--base-foreground-color-1);
  --button-background-color: var(--base-background-color-5);
  --disabled-button-border-color: ; /* Unchanged */
  --disabled-button-foreground-color: var(--base-foreground-color-2);
  --disabled-button-background-color: ; /* Unchanged */
  --hovered-button-border-color: ; /* Unchanged */
  --hovered-button-foreground-color: ; /* Unchanged */
  --hovered-button-background-color: ; /* Unchanged */
  --pressed-button-border-color: ; /* Unchanged */
  --pressed-button-foreground-color: var(--base-foreground-color-5);
  --pressed-button-background-color: var(--base-background-color-4);
  --highlighted-button-border-color: var(--base-accent-color-1);
  --highlighted-button-foreground-color: var(--base-background-color-8);
  --highlighted-button-background-color: var(--base-accent-color-1);
  --alternate-button-border-color: var(--base-background-color-2);
  --alternate-button-foreground-color: var(--base-foreground-color-5);
  --alternate-button-background-color: var(--base-background-color-3);
  --alternate-disabled-button-border-color: var(--base-background-color-4);
  --alternate-disabled-button-foreground-color: var(--base-foreground-color-3);
  --alternate-disabled-button-background-color: var(--base-background-color-4);
  --alternate-hovered-button-border-color: ; /* Unchanged */
  --alternate-hovered-button-foreground-color: ; /* Unchanged */
  --alternate-hovered-button-background-color: ; /* Unchanged */
  --alternate-pressed-button-border-color: ; /* Unchanged */
  --alternate-pressed-button-foreground-color: var(--base-foreground-color-5);
  --alternate-pressed-button-background-color: var(--base-background-color-3);

  --tab-border-color: var(--base-background-color-4);
  --tab-foreground-color: var(--base-foreground-color-1);
  --tab-background-color: var(--base-background-color-5);
  --selected-tab-border-color: ; /* Unchanged */
  --selected-tab-foreground-color: var(--base-foreground-color-4);
  --selected-tab-background-color: var(--base-background-color-4);
  --hovered-tab-border-color: ; /* Unchanged */
  --hovered-tab-foreground-color: var(--base-foreground-color-4);
  --hovered-tab-background-color: ; /* Unchanged */

  --textbox-border-color: var(--base-background-color-4);
  --textbox-foreground-color: var(--base-foreground-color-1);
  --textbox-background-color: var(--base-background-color-6);
  --disabled-textbox-border-color: ; /* Unchanged */
  --disabled-textbox-foreground-color: var(--base-foreground-color-2);
  --disabled-textbox-background-color: ; /* Unchanged */
  --active-textbox-border-color: var(--base-accent-color-1);
  --active-textbox-foreground-color: var(--base-foreground-color-5);
  --active-textbox-background-color: var(--base-background-color-3);

  --grid-border-color: var(--base-background-color-4);
  --grid-foreground-color: var(--base-foreground-color-1);
  --grid-background-color: var(--base-background-color-7);
  --grid-header-foreground-color: var(--base-foreground-color-1);
  --grid-header-background-color: var(--base-background-color-6);
  --selected-grid-header-foreground-color: var(--base-foreground-color-1);
  --selected-grid-header-background-color: var(--base-background-color-6);
  --grid-even-row-background-color: var(--base-background-color-6);
  --secondary-grid-border-color: var(--base-background-color-4);

  --control-border-color: var(--base-background-color-4);
  --control-foreground-color: var(--base-foreground-color-1);
  --control-background-color: var(--base-background-color-7);
  --control-shadow-color: var(--base-background-color-1);
  --selected-control-foreground-color: var(--base-foreground-color-6);
  --selected-control-background-color: var(--base-accent-color-1);
  --inactive-selected-control-foreground-color: var(--base-foreground-color-4);
  --inactive-selected-control-background-color: var(--base-background-color-4);
  --disabled-control-foreground-color: var(--base-foreground-color-2);
  --focused-control-outline-color: var(--base-background-color-4);

  --content-foreground-color: var(--base-foreground-color-4);
  --content-background-color: var(--base-background-color-6);
  --content-background-color-alpha: rgba(40, 40, 40, .9);
  --secondary-content-foreground-color: var(--base-foreground-color-1);

  --selected-text-foreground-color: ; /* Unchanged */
  --selected-text-background-color: var(--base-accent-color-1);
  --inactive-selected-text-foreground-color: ; /* Unchanged */
  --inactive-selected-text-background-color: var(--base-background-color-5);
  --hyperlink-text-foreground-color: var(--base-accent-color-1);
}

/* ----------------------------------------------------------------------------------------------
 * General
 * ---------------------------------------------------------------------------------------------- */

ins, del {
  text-decoration-color: rgba(147, 147, 147, .8); /* --secondary-content-foreground-color */
}

::-moz-selection {
  background-color: rgba(26, 96, 143, .3); /* --selected-text-background-color */
}

/* ----------------------------------------------------------------------------------------------
 * Widgets
 * ---------------------------------------------------------------------------------------------- */

[role="menu"] {
  box-shadow: 0 0 .4rem rgba(28, 28, 28, .8); /* --control-shadow-color */
}

[role="textbox"], [role="searchbox"] {
  box-shadow: inset 0 0 .2rem rgba(28, 28, 28, .2); /* --control-shadow-color */
}

[role="textbox"]:focus, [role="searchbox"]:focus {
  box-shadow: 0 0 .4rem rgba(26, 96, 143, .6), /* --active-textbox-border-color */
              inset 0 0 .4rem rgba(28, 28, 28, .2); /* --control-shadow-color */
}

.blurred[role="textbox"]:not(:focus):hover {
  border-color: rgba(48, 48, 48, .5); /* --textbox-border-color */
  background-color: rgba(40, 40, 40, .5); /* --textbox-background-color */
}

/* ----------------------------------------------------------------------------------------------
 * Global Header
 * ---------------------------------------------------------------------------------------------- */

[role="banner"] [role="search"]:focus + [role="button"] {
  background-image: -moz-image-rect(url(/static/images/themes/light/sprite.png), 0, 128, 32, 96); /* Use the Light theme asset */
}
