/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --base-sprite-image: url(/static/images/themes/light/sprite.png);

  --base-color-1: #434343;
  --base-color-2: #636363;
  --base-color-3: #838383;
  --base-color-4: #B3B3B3;
  --base-color-5: #C3C3C3;
  --base-color-6: #E3E3E3;
  --base-color-7: #F3F3F3;
  --base-color-8: #FCFCFC;

  --base-accent-color-1: #2383C3; /* blue */
  --base-accent-color-1-a6: #2383C399;
  --base-accent-color-2: #DA2367; /* red */

  --content-background-color-alpha: #FCFCFCCC; /* --base-color-8 */
}

ins, del {
  text-decoration-color: #838383CC; /* --secondary-content-foreground-color */
}

::-moz-selection {
  background-color: #2383C366; /* --selected-text-background-color */
}

.patch[itemtype$="Attachment"][data-content-type] .preview tr {
  --head-background-color: #F8F8FF;
  --removed-background-color: #FFE4E4;
  --added-background-color: #E1FEE2;
}
