# Charset
AddDefaultCharset UTF-8

# MIME types
AddType application/x-httpd-php html php
AddType image/x-icon ico
AddType text/cache-manifest appcache
AddType application/javascript js
AddType application/x-web-app-manifest+json webapp

# Options
# Note that the MultiViews option causes an error on the production server
Options FollowSymLinks -Indexes
RewriteEngine on

# Rewrite: Force SSL
RewriteCond %{HTTP_HOST} ^www\.bzdeck\.com$
RewriteCond %{HTTPS} off
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Rewrite: info
RewriteRule ^about/?$       https://www.facebook.com/notes/bzdeck/introducing-bzdeck/269349649857418 [R,L]
RewriteRule ^faq/?$         https://www.facebook.com/notes/bzdeck/bzdeck-faq/270685673057149 [R,L]
RewriteRule ^privacy/?$     https://marketplace.firefox.com/app/bzdeck/privacy [R,L]
RewriteRule ^support/?$     https://www.facebook.com/notes/bzdeck/bzdeck-faq/270685673057149 [R,L]
RewriteRule ^screenshots/?$ https://www.facebook.com/media/set/?set=a.271135819678801.63434.240285432763840 [R,L]

# Rewrite: misc
RewriteRule ^favicon\.ico$ /static/images/logo/favicon.ico [L]

# Performance: remove ETag
FileETag None

# Performance: set Expires
ExpiresActive On
ExpiresDefault "access plus 5 days"
ExpiresByType text/cache-manifest "access plus 0 seconds"

# Performance: use gzip (Apache 2.x)
AddOutputFilterByType DEFLATE text/html text/cache-manifest text/css application/javascript application/x-web-app-manifest+json

# Security
Header always append X-Frame-Options DENY
