/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: var(--application-foreground-color);
  background-color: var(--application-background-color);
  font-size: 1.2rem;
  font-family: FiraSans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
  line-height: 1;
  font-weight: normal;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

pre {
  margin: 0;
  font-family: FiraMono, monospace;
  white-space: pre-wrap;
}

select {
  font-family: inherit; /* Suppress the default style */
}

table {
  width: 100%;
  color: var(--grid-foreground-color);
  background-color: var(--grid-background-color);
}

thead {
  background-color: var(--grid-header-background-color);
}

th {
  border-color: var(--grid-border-color);
  color: var(--grid-header-foreground-color);
  background-color: var(--grid-header-background-color);
  font-weight: normal;
}

td {
  border-color: var(--grid-border-color);
}

img, input {
  vertical-align: top;
}

strong {
  font-weight: 500;
}

code, kbd {
  font-family: FiraMono, monospace;
}

:focus {
  outline-color: var(--focused-control-outline-color);
}

[role="link"], :-moz-any-link, button {
  pointer-events: auto;
}

[role="link"] *, :-moz-any-link *, button * {
  pointer-events: none;
}

a {
  color: #2383C3; /* Fallback */
  color: var(--hyperlink-text-foreground-color);
  text-decoration: underline;
}

del a {
  text-decoration: none;
}

[tabindex]:-moz-focusring {
  outline: 0;
}

:root:-moz-window-inactive ::-moz-selection {
  background-color: var(--inactive-selected-text-background-color); /* Doesn't work due to Bug 706209 */
}
