/**
 * BzDeck Base Style
 * Copyright © 2014 Kohei Yoshino. All rights reserved.
 */

/* ----------------------------------------------------------------------------------------------
 * Fonts
 * ---------------------------------------------------------------------------------------------- */

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  font-style: normal;
  src: local("Fira Sans Regular");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  font-style: normal;
  src: local("Fira Sans Medium");
}

/* ----------------------------------------------------------------------------------------------
 * General
 * ---------------------------------------------------------------------------------------------- */

body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  /* Note: Fira Sans was called Feura Sans in older Firefox OS */
  font-family: "Feura Sans", "Fira Sans", "Roboto", "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
  line-height: 1;
  font-weight: normal;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

pre {
  margin: 0;
  font-family: Consolas, monospace;
  white-space: pre-wrap;
}

table {
  width: 100%;
}

th {
  font-weight: normal;
}

img, input {
  vertical-align: top;
}

:link, button {
  pointer-events: auto;
}

a {
  text-decoration: underline;
}

del a {
  text-decoration: none;
}

[tabindex]:-moz-focusring {
  outline: 0;
}

/* ----------------------------------------------------------------------------------------------
 * Widgets
 * ---------------------------------------------------------------------------------------------- */

[role="button"],
[role="textbox"] {
  -moz-box-sizing: content-box;
  border-width: .1rem;
  border-style: solid;
  border-radius: .4rem;
  padding: .4rem;
  height: 1.6rem;
  background-clip: padding-box;
  line-height: 1;
}

[role="grid"] {
  height: 100%;
}

col[data-hidden="false"] {
  width: auto;
}

[role="columnheader"] {
  border-width: 0 .1rem .1rem 0;
  border-style: solid;
}

[role="columnheader"][aria-sort] label::after {
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  transition: transform .2s;
}

[role="columnheader"][aria-sort="ascending"] label::after {
  transform: rotate(180deg);
}

:-moz-any([role="columnheader"], [role="gridcell"])[data-type="boolean"] {
  padding: 0;
  text-indent: -9999rem;
}

[role="menu"] {
  border-radius: .4rem;
}

[role="menuitem"][aria-haspopup="true"]::after {
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

[role^="menuitem"][aria-checked="true"]::before,
[role="radio"][aria-checked="true"] {
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

[role="treeitem"][aria-expanded] + .expander {
  background-position: center;
  background-size: 56%;
  background-repeat: no-repeat;
  transition: transform .2s;
}

[role="treeitem"][aria-expanded="false"] + .expander {
  transform: rotate(-90deg);
}

[role="tab"] {
  border-width: 0 .1rem 0 0;
  border-style: solid;
  width: 12rem;
  height: 100%;
  background-clip: padding-box;
  line-height: 1.6rem;
}

[role="tab"] .close {
  border-width: 0;
  border-radius: .2rem;
  background-position: center;
  background-size: 56%;
  background-repeat: no-repeat;
}

[role="tabpanel"],
[role="tabpanel"] > * {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

[role="scrollbar"] {
  border-radius: .8rem;
}

[aria-busy="true"]::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.6rem 0 0 -1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  animation: throbber 1s linear 0s infinite;
}

/* ----------------------------------------------------------------------------------------------
 * App Log-in
 * ---------------------------------------------------------------------------------------------- */

#app-login {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#app-login[aria-hidden="true"] {
  display: block;
  opacity: 0;
}

#app-login[aria-hidden="true"] * {
  pointer-events: none;
}

#app-login header {
  position: absolute;
  top: calc(50% - 6.4rem);
  left: calc(50% - 24rem);
  width: 12.8rem;
  height: 12.8rem;
}

#app-login h1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-indent: -9999rem;
  background-image: url(/static/images/logo/icon-256.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#app-login div {
  position: absolute;
  top: calc(50% - 6.4rem);
  left: calc(50% - 24rem + 14.4rem);
  width: calc(48rem - 14.4rem);
  line-height: 1.6;
}

#app-login p {
  margin-bottom: 1.2rem;
}

#app-login div > p:first-of-type {
  margin-top: .4rem;
}

#app-login [role="textbox"] {
  margin-right: .8rem;
  width: calc(100% - 10rem);
}

#app-login [role="button"] {
  width: 7.2rem;
}

#app-login [role="textbox"],
#app-login [role="button"] {
  background-repeat: repeat;
  font-size: 1.2rem;
}

/* ----------------------------------------------------------------------------------------------
 * App Body
 * ---------------------------------------------------------------------------------------------- */

#app-body {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#app-body[aria-hidden="true"] {
  display: block;
}

#app-body[aria-hidden="true"] * {
  pointer-events: none;
}

/* ----------------------------------------------------------------------------------------------
 * Global Header
 * ---------------------------------------------------------------------------------------------- */

[role="banner"] {
  position: fixed;
  width: 100%;
  height: 4rem;
}

[role="banner"] h1 {
  position: absolute;
  overflow: hidden;
  padding: 1rem 0 1rem 4rem;
  width: 0;
  height: 2rem;
  background-image: url(/static/images/logo/icon-256.png);
  background-position: .4rem .4rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  line-height: 2rem;
}

[role="banner"] [role="toolbar"] {
  position: absolute;
  right: 0;
  width: 24.4rem;
  height: 4rem;
}

#toolbar--search-menu {
  position: absolute;
  right: 0;
  height: 4rem;
}

#toolbar--search-menu > li {
  float: right;
}

#toolbar--search-menu > li:first-of-type {
  width: 4rem;
  height: 4rem;
}

#main-menu--app {
  overflow: hidden;
  padding: 0;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: 56%;
  background-repeat: no-repeat;
  text-indent: -9999rem;
}

#main-menu--app[aria-selected="true"] {
  background-color: transparent;
}

#main-menu--app-menu {
  z-index: 100;
  right: 0;
  margin: .4rem;
}

#main-menu--app-menu::before {
  display: block;
  position: absolute;
  top: -1.6rem;
  right: .8rem;
  margin-left: -.4rem;
  border-width: .8rem;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  content: "";
}

#main-menu--app--account {
  padding: .4rem .8rem;
  height: auto;
  opacity: 1;
}

#main-menu--app--account label {
  padding-left: 4.4rem;
  background-size: contain;
  background-repeat: no-repeat;
}

[role="banner"] [role="search"] {
  position: relative;
  margin: .8rem 0;
  width: 19.6rem;
  height: 2.4rem;
}

[role="banner"] [role="search"] [role="textbox"] {
  position: absolute;
  -moz-box-sizing: border-box;
  border-width: .1rem;
  padding: .4rem 3.2rem .4rem .8rem;
  width: 100%;
  height: 100%;
}

[role="banner"] [role="search"] [role="button"] {
  position: absolute;
  overflow: hidden;
  right: .4rem;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent !important;
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
  text-indent: -9999rem;
}

#quicksearch-dropdown {
  top: 4rem;
  right: .4rem;
  max-width: 40rem;
}

/* ----------------------------------------------------------------------------------------------
 * Global Sidebar
 * ---------------------------------------------------------------------------------------------- */

#sidebar {
  position: absolute;
  top: 4rem;
  bottom: 3.2rem;
  z-index: 200;
  overflow: hidden;
  -moz-box-sizing: border-box;
  border-width: 0 .1rem 0 0;
  border-style: solid;
  width: 16rem;
}

:root:not([data-current-tab="home"]) #sidebar {
  display: none;
}

#sidebar > div {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}

#sidebar h2 {
  position: absolute;
  left: -9999rem;
}

#sidebar-folder-list {
  background: transparent;
}

#sidebar [role="option"] {
  padding: .4rem 1.2rem;
  font-size: 1.2rem;
}

/* ----------------------------------------------------------------------------------------------
 * Main
 * ---------------------------------------------------------------------------------------------- */

main {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

#main-tablist {
  position: absolute;
  left: 4rem;
  z-index: 200;
  right: 24.4rem;
  height: 4rem;
}

#main-tablist [role="tab"] {
  transition: all .2s;
}

#main-tablist [role="tab"] .close {
  background-color: transparent;
  opacity: 0;
  transition: opacity .2s;
}

#main-tablist [role="tab"]:hover .close {
  opacity: 1;
}

#tab-home .close {
  display: none;
}

#main-tabpanels {
  position: absolute;
  width: 100%;
  top: 4rem;
  bottom: 0;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] {
  overflow: hidden;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] > * {
  display: none;
}

#main-tabpanels > [role="tabpanel"] > * > header {
  overflow: hidden;
  position: absolute;
  left: -9999rem; /* Usually hide the header */
  -moz-box-sizing: border-box;
  border-width: .1rem 0;
  border-style: solid;
  width: 100%;
  height: 3.2rem;
}

#main-tabpanels > [role="tabpanel"] > * > header > h2 {
  overflow: hidden;
  padding: 0 8rem 0 1.2rem;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main-tabpanels > [role="tabpanel"] > * > :-moz-any(header, footer) > [role="toolbar"] {
  display: inline-block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  overflow: hidden;
}

#main-tabpanels > [role="tabpanel"] > * > :-moz-any(header, footer) > [role="toolbar"] > li {
  display: inline-block;
  float: left;
  height: 2rem;
}

#main-tabpanels > [role="tabpanel"] > * > :-moz-any(header, footer) > [role="toolbar"] > li > [role="button"] {
  position: relative;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#main-tabpanels > [role="tabpanel"] > * > :-moz-any(header, footer) > [role="toolbar"] > li:not(:first-of-type) > [role="button"] {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#main-tabpanels > [role="tabpanel"] > * > :-moz-any(header, footer) > [role="toolbar"] > li:not(:last-of-type) > [role="button"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] > li {
  width: 2.4rem;
}

#main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] > li > [role="button"] {
  padding: 0;
  text-indent: -9999rem;
}

#main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] > li > [role="button"]::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 48%;
  background-repeat: no-repeat;
  content: "";
}

#main-tabpanels > [role="tabpanel"] > * > div {
  position: absolute;
  top: 0; /* Usually hide the header */
  right: 0;
  bottom: 3.2rem;
  left: 0;
}

#main-tabpanels > [role="tabpanel"] > * > footer {
  position: absolute;
  bottom: 0;
  border-width: .1rem 0 0;
  border-style: solid;
  width: 100%;
  height: 3.1rem;
}

#main-tabpanels > [role="tabpanel"] > * > footer > [role="toolbar"] > li > [role="button"] {
  padding: 0 .8rem;
  line-height: 1.8rem;
}

/* ----------------------------------------------------------------------------------------------
 * Home
 * ---------------------------------------------------------------------------------------------- */

#main-tabpanels > #tabpanel-home > section > div {
  left: 16rem; /* A space for the sidebar */
}

#home-list-pane {
  position: absolute;
  width: 100%;
  height: 21.6rem;
  min-height: 8rem;
}

:root[data-home-layout="vertical"] #home-list-pane {
  width: 36rem;
  min-width: 24rem;
  height: 100%;
}

#home-preview-splitter {
  top: 21.6rem;
}

:root[data-home-layout="vertical"] #home-preview-splitter {
  top: -3.2rem;
  bottom: 0;
  left: 36rem;
  height: auto;
}

#home-preview-pane {
  position: absolute;
  top: 21.6rem;
  bottom: 0;
  width: 100%;
  min-height: 8rem;
}

:root[data-home-layout="vertical"] #home-preview-pane {
  top: 0;
  right: 0;
  left: 36rem;
  width: auto;
  min-width: 36rem;
  background-color: transparent !important;
  border-width: 0 0 0 .1rem;
  border-style: solid;
}

.bug-list col[data-id="id"][data-hidden="false"] {
  width: 5em;
}

.bug-list col[data-id="summary"][data-hidden="false"] {
  width: 50%;
}

.bug-list col:-moz-any([data-id="_starred"], [data-id="_unread"])[data-hidden="false"] {
  width: 1.9rem;
}

.bug-list [role="row"][data-unread="true"] {
  font-weight: bold;
}

.bug-list [role="columnheader"]:-moz-any([data-id="_starred"], [data-id="_unread"]) label {
  padding: 0;
}

.bug-list [role="columnheader"] label,
.bug-list [role="checkbox"] {
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
}

:root[data-home-layout="vertical"] #home-list .grid-header {
  display: none;
}

:root[data-home-layout="vertical"] #home-list .grid-body {
  height: 100%;
}

:root[data-home-layout="vertical"] #home-list :-moz-any(table, tbody, [role="row"]) {
  display: block;
}

:root[data-home-layout="vertical"] #home-list [role="row"] {
  position: relative;
  border-width: 0 0 .1rem;
  border-style: solid;
  padding: 1rem 4rem 1rem .8rem;
}

:root[data-home-layout="vertical"] #home-list [role="row"]:last-of-type {
  border-width: 0;
}

:root[data-home-layout="vertical"] #home-list [role="row"][data-unread="true"] {
  font-weight: normal;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"] {
  display: none;
  height: auto;
  line-height: 1.2;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"]:-moz-any([data-id="id"], [data-id="summary"], [data-id="last_change_time"], [data-id="_starred"]) {
  display: block;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"][data-id="id"] {
  position: absolute;
  top: 1rem;
  left: .8rem;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"][data-id="summary"] {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

:root[data-home-layout="vertical"] #home-list [role="row"][data-unread="true"] [role="gridcell"][data-id="summary"] {
  font-weight: bold;
}

:root[data-home-layout="vertical"] #home-list .grid-body [role="row"]:nth-child(even):not([aria-selected="true"]) {
  color: inherit;
  background-color: transparent;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"][data-id="last_change_time"] {
  position: absolute;
  top: 1rem;
  right: .8rem;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"][data-id="_starred"] {
  position: absolute;
  top: 2.2rem;
  right: .8rem;
  width: 2.8rem;
  height: 2.8rem;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"][data-id="_starred"] [role="checkbox"] {
  background-size: 64%;
}

:root[data-home-layout="vertical"] #home-list [role="gridcell"] label {
  white-space: normal;
}

article[id$="preview-bug"] > header {
  position: absolute;
  border-width: .1rem 0;
  border-style: solid;
  width: 100%;
  height: 3.0rem;
}

article[id$="preview-bug"] > header > h3 {
  overflow: hidden;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: auto;
  -moz-user-select: text;
}

article[id$="preview-bug"] > div {
  position: absolute;
  top: 3.2rem;
  bottom: 0;
  -moz-box-sizing: border-box;
  overflow: hidden;
  pointer-events: auto;
}

:root[data-home-layout="vertical"] #home-preview-bug-info {
  display: none;
}

#home-preview-bug-timeline {
  right: 0;
  width: auto;
}

:root[data-home-layout="vertical"] #home-preview-bug-timeline {
  left: 0;
}

/* ----------------------------------------------------------------------------------------------
 * Details
 * ---------------------------------------------------------------------------------------------- */

[id|="tabpanel-details"][role="tabpanel"] > article > header {
  left: 0 !important; /* Show the header */
}

[id|="tabpanel-details"][role="tabpanel"] > article > header > h2 {
  pointer-events: auto;
  -moz-user-select: text;
}

[id|="tabpanel-details"][role="tabpanel"] > article > div {
  top: 3.2rem !important; /* Show the header */
}

[id|="bug"][role="tablist"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: .8rem;
  height: 2.4rem;
  text-align: center;
  word-spacing: -1rem; /* Remove spaces between tabs */
}

[id|="bug"][role="tablist"] [role="tab"] {
  float: none;
  margin: 0;
  border-width: .1rem .1rem .1rem 0;
  border-radius: 0;
  height: 2.4rem;
  word-spacing: normal;
}

[id|="bug"][role="tablist"] [role="tab"]:first-of-type {
  border-left-width: .1rem;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

[id|="bug"][role="tablist"] [role="tab"]:not([aria-hidden="true"]):last-of-type { /* It doesn't work as intended */
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

[id|="bug"][role="tablist"] [role="tab"] label {
  left: 0;
}

[id|="bug"][role="tablist"] ~ div {
  position: absolute;
  bottom: 0;
}

[id|="bug"][role="tablist"] ~ [id$="tabpanels"] {
  top: 4rem;
  right: 0;
}

[id|="bug"][role="tablist"] ~ .bug-info {
  top: 0;
}

.bug-info {
  overflow: hidden;
  -moz-box-sizing: border-box;
  border-width: 0 .1rem 0 0;
  border-style: solid;
}

.bug-info h3 {
  padding: .4rem 1.2rem;
  height: 1.4rem;
  line-height: 1.4rem;
}

.bug-info dl,
.bug-info section > ul {
  overflow: hidden;
  padding: .8rem 1.2rem;
}

.bug-info dt,
.bug-info dd,
.bug-info section > ul > li {
  padding: .4rem 0;
  min-height: 1.6rem;
  line-height: 1.6rem;
}

.bug-info dt {
  float: left;
  clear: both;
  width: 10rem;
}

.bug-info dd {
  float: left;
  margin-left: -10rem;
  padding-left: 11rem;
  width: calc(100% - 11rem);
}

.bug-info section > ul > li,
.bug-info dd {
  border-width: 0 0 .1rem;
  border-style: solid;
}

.bug-info section > ul > li:last-of-type,
.bug-info dd:last-of-type {
  border-width: 0;
}

.bug-info [role="button"] {
  overflow: hidden;
  border-width: 0;
  padding: .2rem .4rem;
  max-width: 100%;
  height: 1.4rem;
  color: inherit !important; /* TEMP */
  background: transparent none !important; /* TEMP */
  line-height: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-timeline h2 {
  display: none; /* Visible on mobile */
}

:-moz-any(.bug-timeline, .bug-attachments, .bug-history) h3 {
  position: absolute;
  left: -9999rem;
}

.bug-timeline article {
  overflow: hidden;
  border-width: .1rem 0 0;
  border-style: solid;
}

.bug-timeline article > * {
  padding: 1.2rem;
}

.bug-timeline article header {
  overflow: hidden;
}

.bug-timeline article header .meta {
  overflow: hidden;
  line-height: 1.5rem;
}

.bug-timeline article header .meta > * {
  display: block;
  padding: 0 .8rem;
}

.bug-timeline article header [itemprop="author"] [itemprop="image"] {
  display: inline-block;
  float: left;
  margin: 0 .8rem 0 -.8rem;
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bug-timeline article header [itemprop="author"] [itemprop="name"] {
  display: block;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-timeline article [itemprop="text"] {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: Consolas, monospace;
  letter-spacing: -.02ex;
}

:root[data-timeline-font-family="proportional"] .bug-timeline article [itemprop="text"] {
  font-family: inherit;
  letter-spacing: normal;
}

.bug-timeline article [itemprop="text"] p {
  margin: 1.2rem 0;
  white-space: pre-wrap;
  -moz-user-select: text;
  pointer-events: auto;
  cursor: text;
}

.bug-timeline article [itemprop="text"] p:first-of-type {
  margin-top: 0;
}

.bug-timeline article [itemprop="text"] p:last-of-type {
  margin-bottom: 0;
}

.bug-timeline article [itemprop="text"] blockquote {
  margin: 0;
  border-width: 0 0 0 .2rem;
  border-style: solid;
  padding-left: 1rem;
}

.bug-timeline article .changes li {
  margin-top: .8rem;
  line-height: 1.5;
}

.bug-timeline article .changes li:first-of-type {
  margin-top: 0;
}

.bug-timeline article .changes ins {
  text-decoration: none;
}

.bug-timeline article .changes a {
  color: inherit;
}

.bug-attachments section {
  overflow: hidden;
  border-width: 0 0 .1rem;
  border-style: solid;
}

.bug-attachments section:last-of-type {
  border-width: 0;
}

.bug-attachments section h4 {
  padding: 1.2rem;
}

.bug-attachments section > ul {
  padding: 1.2rem;
}

.bug-attachments section li {
  margin: .4rem 0;
  line-height: 1.5;
}

.bug-attachments section li:first-of-type {
  margin-top: 0;
}

.bug-attachments section li:last-of-type {
  margin-bottom: 0;
}

.bug-history table {
  margin: 0 1.2rem;
  border-collapse: collapse;
  width: auto;
  table-layout: fixed;
}

.bug-history thead th {
  width: 20%;
}

.bug-history th,
.bug-history td {
  border-width: .1rem;
  border-style: solid;
  padding: .2rem .4rem;
  line-height: 1.5;
  text-align: left;
  vertical-align: top;
}

/* ----------------------------------------------------------------------------------------------
 * Search
 * ---------------------------------------------------------------------------------------------- */

[id|="tabpanel-search"] [id$="pane"] {
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition-property: top, bottom, height;
  transition-duration: .8s;
}

[id|="tabpanel-search"] [id$="pane"][aria-hidden="true"] {
  display: block;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] {
  top: 0;
  height: 22rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"][aria-hidden="true"] {
  top: -22rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box {
  overflow: hidden;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box > section {
  float: left;
  -moz-box-sizing: border-box;
  border-width: 0 .1rem 0 0;
  border-style: solid;
  width: 20%;
  height: 16.2rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box > section:last-of-type {
  border-width: 0;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box > section > h3 {
  border-width: 0 0 .1rem;
  border-style: solid;
  padding: 0 .4rem;
  height: 1.7rem;
  line-height: 1.8rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box > section > div {
  position: relative;
  overflow: hidden;
  height: 14.4rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box [role="listbox"] {
  height: auto;
  min-height: 100%;
  pointer-events: auto;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .browse-box [role="option"][aria-disabled="true"] {
  display: none;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box {
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  border-width: .1rem 0;
  border-style: solid;
  height: 5.8rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box > section {
  margin: 1.6rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box > section > h3 {
  position: absolute;
  left: -9999rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box > section > dl {
  text-align: center;
  word-spacing: -1rem; /* Remove spaces between dt and dd */
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box > section > dl > * {
  display: inline-block;
  margin: 0 .4rem;
  vertical-align: middle;
  word-spacing: normal;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box dt::after {
  content: ":";
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box [role="textbox"] {
  width: 24rem;
}

[id|="tabpanel-search"] [id$="basic-search-pane"] .text-box [role="button"] {
  padding: .4rem 1.6rem;
  line-height: 1.6rem;
}

[id|="tabpanel-search"] [id$="result-pane"] {
  top: 22rem;
  bottom: 0;
}

[id|="tabpanel-search"] [id$="basic-search-pane"][aria-hidden="true"] + [id$="result-pane"] {
  top: 0;
  bottom: calc(100% - 24rem);
  height: 24rem;
}

[id|="tabpanel-search"] [id$="preview-pane"] {
  top: 24rem;
  bottom: 0;
}

[id|="tabpanel-search"] [id$="preview-pane"][aria-hidden="true"] {
  top: 100%;
  bottom: -24rem;
}

/* ----------------------------------------------------------------------------------------------
 * Settings
 * ---------------------------------------------------------------------------------------------- */

#tabpanel-settings > section > div {
  overflow: hidden;
  padding: 0 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
}

#tabpanel-settings > section > div > section {
  margin-top: 4rem;
  page-break-inside: avoid;
}

#tabpanel-settings > section > div > section > h3 {
  padding: .4rem 1.2rem;
  height: 1.4rem;
  line-height: 1.4rem;
}

#tabpanel-settings > section > div > section > section {
  border-width: 0 0 .1rem;
  border-style: solid;
  padding: 1.6rem 1.2rem;
}

#tabpanel-settings > section > div > section > section:last-of-type {
  border-width: 0;
}

#tabpanel-settings > section > div > section > section > h4 {
  float: left;
  width: calc(50% - 1em);
}

#tabpanel-settings > section > div > section > section > ul {
  margin-left: 50%;
}

#tabpanel-settings > section > div > section > section li {
  margin: .4rem 0;
}

#tabpanel-settings > section > div > section > section li [role="radio"] {
  line-height: 1.8rem;
}

#tabpanel-settings > section > div > section > section li [role="radio"]::before {
  width: 1.8rem;
  height: 1.8rem;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

/* ----------------------------------------------------------------------------------------------
 * Global Footer
 * ---------------------------------------------------------------------------------------------- */

#app-body > footer {
  position: fixed;
  bottom: 0;
  height: 3.2rem;
  width: 56rem;
}

#app-body > footer [role="status"] {
  margin: .8rem;
  line-height: 1.6rem;
}

/* ----------------------------------------------------------------------------------------------
 * Animations
 * ---------------------------------------------------------------------------------------------- */

@keyframes throbber {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

/* ----------------------------------------------------------------------------------------------
 * Desktop Layout
 * ---------------------------------------------------------------------------------------------- */

@media (min-width: 641px) and (max-width: 799px) {

  :root[data-home-layout="vertical"] #home-list-pane {
    width: 100% !important;
  }

  :root[data-home-layout="vertical"] #home-preview-splitter,
  :root[data-home-layout="vertical"] #home-preview-pane {
    display: none;
  }

  #home-preview-bug-info {
    display: none;
  }

  #home-preview-bug-timeline {
    left: 0;
  }

  [id|="bug"].bug-info,
  [id^="search"].bug-info {
    width: 22rem;
  }

  [id|="bug"].bug-info dt,
  [id^="search"].bug-info dt {
    float: none;
    padding-bottom: 0;
    width: 100%;
  }

  [id|="bug"].bug-info dd,
  [id^="search"].bug-info dd {
    float: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  [id|="bug"][role="tablist"],
  [id|="bug"][id$="tabpanels"],
  [id^="search"].bug-timeline {
    left: 22rem;
  }

}

@media (min-width: 800px) {

  [id|="bug"].bug-info,
  [id^="search"].bug-info {
    width: 32rem;
  }

  [id|="bug"][role="tablist"],
  [id|="bug"][id$="tabpanels"],
  [id^="search"].bug-timeline {
    left: 32rem;
  }

}

@media (min-width: 800px) and (max-width: 979px) {

  #home-preview-bug-info {
    width: 22rem;
  }

  #home-preview-bug-info dt {
    float: none;
    padding-bottom: 0;
    width: 100%;
  }

  #home-preview-bug-info dd {
    float: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #home-preview-bug-timeline {
    left: 22rem;
  }

}

@media (min-width: 980px) {

  #home-preview-bug-info {
    width: 32rem;
  }

  #home-preview-bug-timeline {
    left: 32rem;
  }

}
