/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#app-container {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#app-container[aria-hidden="true"] {
  display: block;
}

#app-container[aria-hidden="true"] * {
  pointer-events: none;
}

#app-container .statusbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: .2rem;
}

#app-container .statusbar p,
[data-device|="mobile"]:root #app-container .statusbar [role="progressbar"] {
  position: absolute;
  left: -99999px;
}

[data-device="desktop"]:root #app-container .statusbar [role="progressbar"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--base-accent-color-1);
  box-shadow: 0 0 .4rem var(--base-accent-color-1-a6);
  opacity: 1;
  transition: width .5s, opacity 1s;
}

[data-device="desktop"]:root #app-container .statusbar [role="progressbar"][aria-valuenow="0"] {
  transition-duration: 0s;
}

[data-device="desktop"]:root #app-container .statusbar [role="progressbar"][aria-valuenow="0"],
[data-device="desktop"]:root #app-container .statusbar [role="progressbar"][aria-valuenow="100"] {
  opacity: 0;
}
