/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#app-body {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--application-background-color);
}

#app-body[aria-hidden="true"] {
  display: block;
}

#app-body[aria-hidden="true"] * {
  pointer-events: none;
}
