/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[itemtype$="Attachment"][data-content-type] {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

[itemtype$="Attachment"][data-content-type] > header {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.6rem;
  height: 4rem;
}

[itemtype$="Attachment"][data-content-type] > header h4 {
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[itemtype$="Attachment"][data-content-type] [role="tablist"] {
  flex: none;
  margin: 0 1.2rem;
  border-bottom: .1rem solid var(--secondary-region-border-color);
}

[itemtype$="Attachment"][data-content-type] [role="tab"] {
  margin: 0 .4rem;
  padding: .4rem .8rem;
  border-width: 0 0 .4rem;
  border-color: transparent;
  width: auto;
}

[itemtype$="Attachment"][data-content-type] [role="tab"][aria-selected="true"] {
  border-color: var(--highlighted-button-border-color);
}

[itemtype$="Attachment"][data-content-type] .info {
  line-height: 1.6;
}

[itemtype$="Attachment"][data-content-type] .info > * {
  margin: 1.2rem;
  height: auto;
}

[itemtype$="Attachment"][data-content-type] .info h5 {
  padding: .4rem 1.2rem;
  color: var(--secondary-region-header-foreground-color);
  background-color: var(--secondary-region-header-background-color);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

[itemtype$="Attachment"][data-content-type] .properties meta {
  margin-left: .8rem;
}

[itemtype$="Attachment"][data-content-type] [itemprop="content_type"]::before {
  content: "" !important; /* Hide the icon */
}

[itemtype$="Attachment"][data-content-type] [itemprop="image"] {
  margin-right: .4rem;
  width: 1.6rem;
  height: 1.6rem;
}

[itemtype$="Attachment"][data-content-type] section > ul li {
  display: flex;
  align-items: center;
  margin: .8rem 0;
  line-height: 1.5;
}

[itemtype$="Attachment"][data-content-type] section > ul li > * {
  margin: 0 .4rem;
}

[itemtype$="Attachment"][data-content-type] section > ul li > label {
  flex: none;
  display: inline-block;
  width: 6.4rem;
  margin: 0 .4rem 0 0;
  text-align: right;
}

[itemtype$="Attachment"][data-content-type] .properties [role="textbox"] {
  flex: auto;
  display: block;
  width: 24rem;
  white-space: normal;
}

[itemtype$="Attachment"][data-content-type][data-att-hash] [itemprop="is_obsolete"] {
  display: none;
}

[itemtype$="Attachment"][data-content-type] .flags [itemtype="http://bzdeck.com/Flag"] {
  margin: .4rem 0;
}

[itemtype$="Attachment"][data-content-type] .flags [itemtype="http://bzdeck.com/Flag"] [itemprop="name"] {
  display: inline-block;
  margin: 0;
  width: 14rem;
  font-size: inherit;
}

[itemtype$="Attachment"][data-content-type]:not(.patch) .preview {
  flex: auto;
  overflow: hidden;
}

.media[itemtype$="Attachment"][data-content-type] .preview {
  display: flex;
  box-sizing: border-box;
  padding: .8rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.media[itemtype$="Attachment"][data-content-type] .preview [itemprop="url"] {
  max-height: 100%;
  object-fit: contain;
}

.patch[itemtype$="Attachment"][data-content-type] .preview summary {
  display: block;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  border-width: 0 0 .1rem;
  border-style: solid;
  border-color: var(--grid-border-color);
  padding: .8rem 1rem;
  text-align: left;
  color: var(--grid-header-foreground-color);
  background-color: var(--grid-header-background-color);
}

.patch[itemtype$="Attachment"][data-content-type] .preview table {
  overflow: hidden;
  background-color: var(--grid-background-color); /* Hide the default <details> style on click */
  table-layout: fixed;
}

.patch[itemtype$="Attachment"][data-content-type] .preview tbody {
  font-family: FiraMono, monospace;
  line-height: 1.8;
  white-space: pre-wrap;
}

.patch[itemtype$="Attachment"][data-content-type] .preview tr.head {
  background-color: var(--head-background-color);
}

.patch[itemtype$="Attachment"][data-content-type] .preview tr.removed {
  background-color: var(--removed-background-color);
}

.patch[itemtype$="Attachment"][data-content-type] .preview tr.added {
  background-color: var(--added-background-color);
}

.patch[itemtype$="Attachment"][data-content-type] .preview td {
  padding: 0 .8rem;
  vertical-align: top;
}

.patch[itemtype$="Attachment"][data-content-type] .preview td.ln {
  border-width: 0 .1rem 0 0;
  border-style: solid;
  border-color: var(--secondary-grid-border-color);
  width: 2rem;
  color: var(--disabled-control-foreground-color);
  font-size: 1.1rem;
  text-align: right;
}

.patch[itemtype$="Attachment"][data-content-type] .preview td.sign {
  width: 1rem;
  padding-right: 0;
  color: var(--disabled-control-foreground-color);
}

.patch[itemtype$="Attachment"][data-content-type] .preview td.code {
  width: auto;
  font-size: 1rem;
  -moz-user-select: text;
  cursor: text;
}

[itemtype$="Attachment"][data-content-type]:-moz-any(.link, .error) .preview {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.link[itemtype$="Attachment"][data-content-type] .preview a {
  display: block;
  padding: .8rem;
  text-align: center;
  text-decoration: none;
}

.link[itemtype$="Attachment"][data-content-type] .preview a::before {
  display: block;
  padding-bottom: .8rem;
  font-size: 8rem;
}

[itemtype$="Attachment"] [itemprop="content_type"]::before,
[itemtype$="Attachment"] .preview > a::before {
  font-family: FontAwesome;
  content: "\F016"; /* Default file icon */
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="text/"]::before,
[itemtype$="Attachment"][data-content-type^="text/"] .preview > a::before {
  content: "\F0F6";
}

[itemtype$="Attachment"] [itemprop="is_patch"][content="true"] ~ [itemprop="content_type"]::before {
  content: "\F1C9" !important;
}

[itemtype$="Attachment"] [itemprop="content_type"][content="text/x-github-pull-request"]::before,
[itemtype$="Attachment"][data-content-type="text/x-github-pull-request"] .preview > a::before {
  content: "\F09B";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="text/x-review-board-request"]::before,
[itemtype$="Attachment"][data-content-type="text/x-review-board-request"] .preview > a::before {
  content: "\F0EA"; /* clipboard icon */
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="image/"]::before {
  content: "\F1C5";
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="audio/"]::before {
  content: "\F1C7";
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="video/"]::before {
  content: "\F1C8";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="application/pdf"]::before,
[itemtype$="Attachment"][data-content-type="application/pdf"] .preview > a::before {
  content: "\F1C1";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/msword"],
    [content="application/vnd.openxmlformats-officedocument.wordprocessingml.document"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/msword"],
    [data-content-type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]) .preview > a::before {
  content: "\F1C2";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/vnd.ms-excel"],
    [content="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/vnd.ms-excel"],
    [data-content-type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]) .preview > a::before {
  content: "\F1C3";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/vnd.ms-powerpoint"],
    [content="application/vnd.openxmlformats-officedocument.presentationml.presentation"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/vnd.ms-powerpoint"],
    [data-content-type="application/vnd.openxmlformats-officedocument.presentationml.presentation"]) .preview > a::before {
  content: "\F1C4";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/zip"],
    [content="application/gzip"], [content="application/x-gzip"], [content="application/x-bzip2"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/zip"], [data-content-type="application/gzip"],
    [data-content-type="application/x-gzip"], [data-content-type="application/x-bzip2"]) .preview > a::before {
  content: "\F1C6";
}
