/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[itemtype$="Attachment"][data-content-type] {
  display: flex;
  width: 100%;
  flex-direction: column;
}

[itemtype$="Attachment"][data-content-type]:not(.patch) {
  flex: auto;
}

[itemtype$="Attachment"][data-content-type] > header {
  flex: none;
  overflow: hidden;
}

[itemtype$="Attachment"][data-content-type] > header ~ * {
  flex: auto;
}

[itemtype$="Attachment"][data-content-type] h4 {
  margin: 1.2rem;
  font-size: 1.6rem;
  line-height: 1.25;
}

[itemtype$="Attachment"][data-content-type] > header > ul {
  margin: 0 1.2rem 1.2rem;
  line-height: 1.6;
}

[itemtype$="Attachment"][data-content-type] [itemprop="content_type"],
[itemtype$="Attachment"][data-content-type] [itemprop="is_obsolete"] {
  display: inline;
}

[itemtype$="Attachment"][data-content-type] [itemprop="content_type"]::before {
  content: '' !important; /* Hide the icon */
}

[itemtype$="Attachment"][data-content-type] [itemprop="content_type"]::after {
  content: attr(content);
}

[itemtype$="Attachment"][data-content-type] [itemprop="content_type"][content="text/x-patch"]::after {
  content: 'Patch';
}

[itemtype$="Attachment"][data-content-type] [itemprop="is_obsolete"][content="true"]::after {
  content: '(Obsolete)';
}

[itemtype$="Attachment"][data-content-type] [itemprop="image"] {
  margin-right: .4rem;
  width: 1.6rem;
  height: 1.6rem;
}

[itemtype$="Attachment"][data-content-type] li {
  margin: .4rem 0;
  line-height: 1.5;
}

[itemtype$="Attachment"][data-content-type] li:first-of-type {
  margin-top: 0;
}

[itemtype$="Attachment"][data-content-type] li:last-of-type {
  margin-bottom: 0;
}

[itemtype$="Attachment"][data-content-type] li * {
  white-space: nowrap;
}

[itemtype$="Attachment"][data-content-type]:not(.patch) .body {
  flex: auto;
  overflow: hidden;
}

[itemtype$="Attachment"][data-content-type].media .body {
  display: flex;
  box-sizing: border-box;
  padding: .8rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

[itemtype$="Attachment"][data-content-type].media .body [itemprop="url"] {
  object-fit: contain;
}

[itemtype$="Attachment"][data-content-type].patch .body summary {
  display: block;
  position: sticky;
  top: -.1rem; /* exclude border-top */
  box-sizing: border-box;
  border-width: .1rem 0;
  border-style: solid;
  border-color: var(--grid-border-color);
  padding: .8rem 1rem;
  text-align: left;
  color: var(--grid-header-foreground-color);
  background-color: var(--grid-header-background-color);
}

[itemtype$="Attachment"][data-content-type].patch .body table {
  background-color: var(--grid-background-color); /* Hide the default <details> style on click */
}

[itemtype$="Attachment"][data-content-type].patch .body tbody {
  font-family: FiraMono, monospace;
  line-height: 1.8;
  white-space: pre-wrap;
}

[itemtype$="Attachment"][data-content-type].patch .body tr.head {
  background-color: #F8F8FF;
}

[itemtype$="Attachment"][data-content-type].patch .body tr.removed {
  background-color: #FFE4E4;
}

[itemtype$="Attachment"][data-content-type].patch .body tr.added {
  background-color: #E1FEE2;
}

[itemtype$="Attachment"][data-content-type].patch .body td {
  padding: 0 .8rem;
  vertical-align: top;
}

[itemtype$="Attachment"][data-content-type].patch .body td.ln {
  border-width: 0 .1rem 0 0;
  border-style: solid;
  border-color: var(--secondary-grid-border-color);
  min-width: 3ex;
  color: var(--disabled-control-foreground-color);
  font-size: 1.1rem;
  text-align: right;
}

[itemtype$="Attachment"][data-content-type].patch .body td.sign {
  padding-right: 0;
  color: var(--disabled-control-foreground-color);
}

[itemtype$="Attachment"][data-content-type].patch .body td.code {
  width: 100%;
  font-size: 1.15rem;
  -moz-user-select: text;
  cursor: text;
}

[itemtype$="Attachment"][data-content-type]:-moz-any(.link, .error) .body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

[itemtype$="Attachment"][data-content-type].link .body a {
  display: block;
  padding: .8rem;
  text-align: center;
  text-decoration: none;
}

[itemtype$="Attachment"][data-content-type].link .body a::before {
  display: block;
  padding-bottom: .8rem;
  font-size: 8rem;
}

[itemtype$="Attachment"] [itemprop="content_type"]::before,
[itemtype$="Attachment"] .body > a::before {
  font-family: FontAwesome;
  content: "\F016"; /* Default file icon */
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="text/"]::before,
[itemtype$="Attachment"][data-content-type^="text/"] .body > a::before {
  content: "\F0F6";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="text/x-patch"]::before {
  content: "\F1C9";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="text/x-github-pull-request"]::before,
[itemtype$="Attachment"][data-content-type="text/x-github-pull-request"] .body > a::before {
  content: "\F09B";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="text/x-review-board-request"]::before,
[itemtype$="Attachment"][data-content-type="text/x-review-board-request"] .body > a::before {
  content: "\F0EA"; /* clipboard icon */
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="image/"]::before {
  content: "\F1C5";
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="audio/"]::before {
  content: "\F1C7";
}

[itemtype$="Attachment"] [itemprop="content_type"][content^="video/"]::before {
  content: "\F1C8";
}

[itemtype$="Attachment"] [itemprop="content_type"][content="application/pdf"]::before,
[itemtype$="Attachment"][data-content-type="application/pdf"] .body > a::before {
  content: "\F1C1";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/msword"],
    [content="application/vnd.openxmlformats-officedocument.wordprocessingml.document"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/msword"],
    [data-content-type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]) .body > a::before {
  content: "\F1C2";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/vnd.ms-excel"],
    [content="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/vnd.ms-excel"],
    [data-content-type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]) .body > a::before {
  content: "\F1C3";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/vnd.ms-powerpoint"],
    [content="application/vnd.openxmlformats-officedocument.presentationml.presentation"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/vnd.ms-powerpoint"],
    [data-content-type="application/vnd.openxmlformats-officedocument.presentationml.presentation"]) .body > a::before {
  content: "\F1C4";
}

[itemtype$="Attachment"] [itemprop="content_type"]:-moz-any([content="application/zip"],
    [content="application/gzip"], [content="application/x-gzip"], [content="application/x-bzip2"])::before,
[itemtype$="Attachment"]:-moz-any([data-content-type="application/zip"], [data-content-type="application/gzip"],
    [data-content-type="application/x-gzip"], [data-content-type="application/x-bzip2"]) .body > a::before {
  content: "\F1C6";
}
