/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.bug-container {
  display: flex;
  flex-direction: row;
}

.bug-container[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

.bug-container > [itemtype$="Bug"] {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: none;
  width: 100%;
  height: 100%;
}

article[id$="preview-bug"] {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: row;
}

#home-preview-bug {
  display: block;
}

article[id$="preview-bug"] > header {
  display: flex;
  position: absolute;
  left: 0;
}

.bug-container[aria-expanded="false"] article[id$="preview-bug"] > header {
  width: 70%;
}

.bug-container[aria-expanded="true"] article[id$="preview-bug"] > header {
  width: 100%;
}

#home-preview-pane .bug-info .bug-fieldset > div > section {
  padding-left: 8rem;
}

#home-preview-pane .bug-info .bug-fieldset > div > section h4 {
  opacity: .6;
  font-size: 1.1rem;
  font-weight: 500;
}

.bug-container[aria-expanded="false"] .bug-info .bug-fieldset > div > section :-moz-any(span[itemprop], a):only-of-type {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#home-preview-bug-timeline-wrapper,
#home-preview-bug-info {
  position: absolute;
  top: 0;
  bottom: 0;
}

#home-preview-bug-timeline-wrapper {
  left: 0;
  width: 50%;
}

#home-preview-bug-info {
  left: 50%;
}

.bug-container[aria-expanded="false"] #home-preview-bug-info {
  width: 20% !important;
}

.bug-container[aria-expanded="true"] #home-preview-bug-info {
  width: 50% !important;
}

article[id$="preview-bug"] > div {
  overflow: hidden;
  pointer-events: auto;
}

[data-device="desktop"]:root article[id$="preview-bug"] > div:not([aria-dropeffect]) {
  margin-top: 4rem !important; /* The height of the header */
}

article[id$="preview-bug"] > .bug-info {
  flex: none;
  width: 50% !important;
}

@media (max-width: 1023px) {
  article[id$="preview-bug"] > .bug-info {
    display: none;
  }

  [data-device|="mobile"]:root article[id$="preview-bug"] > div {
    margin-top: 4rem;
  }
}
