/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.bug-comment-form {
  position: relative;
  flex: none;
  z-index: 100;
  box-sizing: border-box;
  margin: 1.2rem;
  border-radius: .2rem;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--secondary-region-border-color);
  width: calc(100% - 2.4rem);
  background-color: var(--content-background-color);
}

.bug-comment-form > header {
  position: absolute;
  left: -99999px;
}

.bug-comment-form > div {
  padding: 1.2rem;
  color: var(--content-foreground-color);
}

.bug-comment-form [role="tablist"] {
  position: relative;
  overflow: visible;
  margin-bottom: 1.2rem;
  border-bottom: .1rem solid var(--tab-border-color);
  height: 2.4rem;
}

.bug-comment-form [role="tab"] {
  border-width: 0;
  padding: 0 1.2rem .8rem;
  width: auto;
}

.bug-comment-form [role="tab"][aria-selected="true"]::after {
  display: block;
  position: absolute;
  bottom: -.5rem;
  left: calc(50% - .5rem);
  border-width: .1rem .1rem 0 0;
  border-style: solid;
  border-color: var(--tab-border-color);
  width: .8rem;
  height: .8rem;
  background: var(--content-background-color);
  transform: rotate(-45deg);
  content: "";
}

.bug-comment-form [role="tab"] label {
  position: static;
}

.bug-comment-form [role="tabpanel"] {
  position: relative;
  height: auto;
  max-height: 20rem;
}

.bug-comment-form [role="textbox"][aria-multiline="true"] {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 2rem;
  background-color: transparent;
  box-shadow: none !important;
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: inherit;
  pointer-events: auto;
  -moz-user-select: text;
  resize: none;
}

.bug-comment-form [role="textbox"][aria-multiline="true"]::-moz-placeholder {
  font-weight: 300;
  font-style: italic;
}

[data-ui-timeline-font-family="monospace"]:root .bug-comment-form [role="textbox"] {
  font-family: FiraMono, monospace;
}

.bug-comment-form [role="article"] {
  margin: 0 !important;
  border: 0;
}

.bug-comment-form [role="article"] [itemprop="text"] {
  padding: 0 !important;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="checkbox"] {
  margin: 0 .8rem .8rem;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="checkbox"]::before {
  font-family: FontAwesome;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="checkbox"][aria-checked="false"]::before {
  content: "\F096";
}

.bug-comment-form [id$="tabpanel-attachments"] [role="checkbox"][aria-checked="true"]::before {
  color: var(--base-accent-color-1);
  content: '\F14A';
}

.bug-comment-form [id$="tabpanel-attachments"] table {
  table-layout: fixed;
  width: calc(100% - 1.2rem); /* Space for the scrollbar */
}

.bug-comment-form [id$="tabpanel-attachments"] col[data-id="description"] {
  width: auto;
}

.bug-comment-form [id$="tabpanel-attachments"] col:not([data-id="description"]) {
  width: 2.4rem;
}

.bug-comment-form [id$="tabpanel-attachments"] tbody tr > * {
  border-top: .1rem solid var(--grid-header-background-color);
}

.bug-comment-form [id$="tabpanel-attachments"] th {
  padding: .4rem .8rem;
  background-color: transparent;
  text-align: left;
}

.bug-comment-form [id$="tabpanel-attachments"] td {
  padding: .4rem;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"] {
  overflow: hidden;
  border: 0;
  padding: 0 0 0 1.6rem;
  width: 0;
  height: 1.6rem;
  background-color: transparent;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"][aria-disabled="true"] {
  opacity: .5;
}

.bug-comment-form [id$="tabpanel-attachments"] tr:first-of-type [role="button"][data-command="move-up"],
.bug-comment-form [id$="tabpanel-attachments"] tr:last-of-type [role="button"][data-command="move-down"] {
  visibility: hidden;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"]::before {
  display: inline-block;
  margin-left: -1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: FontAwesome;
  text-align: center;
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"][data-command="edit"]::before {
  content: "\F040";
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"][data-command="remove"]::before {
  content: "\F014";
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"][data-command="move-up"]::before {
  content: "\F077";
}

.bug-comment-form [id$="tabpanel-attachments"] [role="button"][data-command="move-down"]::before {
  content: "\F078";
}

.bug-comment-form [id$="tabpanel-status"] [role="combobox"] {
  margin: .2rem;
}

.bug-comment-form [id$="tabpanel-status"] [role="textbox"][contenteditable="true"],
.bug-comment-form [id$="tabpanel-needinfo"] [role="textbox"][contenteditable="true"] {
  box-sizing: border-box;
  margin: .2rem;
  padding: 0 .4rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
}

.bug-comment-form [id$="tabpanel-status"] [data-field="dupe_of"]:not([hidden]) {
  display: inline-block;
  vertical-align: top;
}

.bug-comment-form [id$="tabpanel-status"] [data-field="dupe_of"] [role="textbox"] {
  width: 8rem;
}

.bug-comment-form [id$="tabpanel-status"],
.bug-comment-form [id$="tabpanel-needinfo"] {
  overflow: visible; /* Show the Person Finder results */
}

.bug-comment-form [id$="tabpanel-needinfo"] [role="scrollbar"] {
  display: none;
}

.bug-comment-form [id$="tabpanel-needinfo"] [class$="row"] {
  padding: .4rem;
}

.bug-comment-form [id$="tabpanel-needinfo"] [class$="row"] [itemtype$="User"] [itemprop="image"] {
  margin-right: .4rem;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-bottom;
}

.bug-comment-form [id$="tabpanel-needinfo"] .requestee-finder-outer {
  margin-top: .8rem;
}

.bug-comment-form > footer {
  display: flex;
  overflow: hidden;
  border-radius: 0 0 .2rem .2rem;
  height: 4.4rem;
  color: var(--content-foreground-color);
  background-color: var(--secondary-region-background-color);
  transition: height .2s ease .1s; /* This delay makes sure <strong> clickable */
}

.bug-comment-form > footer[aria-hidden="true"] {
  display: flex;
  border-bottom-width: 0;
  height: 0;
}

.bug-comment-form > footer [role="status"] {
  flex: auto;
  margin: .8rem 0;
  padding: .8rem 0;
  text-align: right;
}

.bug-comment-form > footer [role="status"] strong {
  color: var(--hyperlink-text-foreground-color);
  font-weight: normal;
  cursor: pointer;
  pointer-events: auto;
}

.bug-comment-form > footer [role="toolbar"] {
  margin: .8rem;
}

.bug-comment-form > footer [role="toolbar"] ul {
  margin: 0;
}

.bug-comment-form > footer [role="toolbar"] [role="button"][data-command="attach"]::before {
  font-size: 2.4rem;
  content: '\F0C6';
}

.bug-comment-form > footer [role="toolbar"] [role="button"][data-command="submit"] {
  border-radius: .2rem;
  padding: .8rem 2.4rem !important;
  height: 1rem;
}

.bug-comment-form > footer [role="button"][aria-disabled="false"] {
  color: var(--highlighted-button-foreground-color);
  background-color: var(--highlighted-button-background-color);
}

.bug-comment-form > footer [role="button"][aria-disabled="true"] {
  color: var(--alternate-disabled-button-foreground-color);
  background-color: var(--alternate-disabled-button-background-color);
}

@media (max-width: 1023px) {
  [data-device|="mobile"]:root .bug-comment-form {
    margin: .8rem;
    width: calc(100% - 1.6rem)
  }
}

@media (max-width: 767px) {
  [data-device|="mobile"]:root .bug-comment-form {
    margin: 0;
    border-width: .1rem 0 0;
    border-radius: 0;
    width: 100%;
  }

  [data-device|="mobile"]:root .bug-comment-form [role="tablist"] {
    display: none; /* TBD */
  }

  [data-device|="mobile"]:root .bug-comment-form > div {
    margin: 0 3.8rem -3.8rem; /* 3.8rem = the height of the footer */
    padding: 1rem 0;
  }

  [data-device|="mobile"]:root .bug-comment-form [role="textbox"][aria-multiline="true"] {
    min-height: 1.6rem;
  }

  [data-device|="mobile"]:root .bug-comment-form > footer {
    height: 3.8rem;
    background-color: transparent;
  }

  [data-device|="mobile"]:root .bug-comment-form > footer [role="status"] {
    visibility: hidden; /* TBD */
  }

  [data-device|="mobile"]:root .bug-comment-form > footer [role="toolbar"] {
    margin: .4rem;
  }

  /* Almost same as [itemtype$="Bug"] [role="toolbar"] .iconic */
  [data-device|="mobile"]:root .bug-comment-form > footer [role="toolbar"] [role="button"][data-command="submit"] {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    border-width: 0;
    border-radius: 0;
    padding: 0 !important;
    width: 3.2rem;
    height: 3.2rem;
    background: transparent;
    line-height: 1;
    text-indent: -99999px;
    vertical-align: top;
  }

  /* Almost same as [itemtype$="Bug"] [role="toolbar"] .iconic::before */
  [data-device|="mobile"]:root .bug-comment-form > footer [role="toolbar"]
      [role="button"][data-command="submit"]::before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 1.6rem);
    left: calc(50% - 1.6rem);
    margin: 0;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2rem;
    line-height: 3.2rem;
    font-family: FontAwesome;
    text-align: center;
    text-indent: 0;
    vertical-align: top;
    content: '\F1D8';
  }

  [data-device|="mobile"]:root .bug-comment-form > footer [role="button"][aria-disabled="false"] {
    color: var(--highlighted-button-background-color);
  }
}
