/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[data-device="desktop"]:root .bug-outline .bug-details {
  flex: auto;
}

[data-device="desktop"]:root [id$="tabpanel-details"] .bug-fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.2rem;
}

[data-device="desktop"]:root [id$="tabpanel-details"] .bug-fieldset-wrapper > .col {
  margin-left: 1.2rem;
  width: calc(50% - 1.2rem);
}

.bug-details,
.bug-participants {
  overflow: hidden;
  box-sizing: border-box;
}

.bug-fieldset:not(:first-of-type) {
  margin: 1.2rem 0;
}

.bug-fieldset > header {
  display: flex;
  padding: .4rem 1.2rem; /* Need some right padding for the scrollbar  */
  height: 1.6rem;
  color: var(--secondary-region-header-foreground-color);
  background-color: var(--secondary-region-header-background-color);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.bug-details .bug-fieldset > header {
  margin-bottom: 1.2rem;
}

.bug-fieldset > header h3 {
  flex: auto;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.bug-fieldset > header [role="button"][aria-pressed="false"] {
  color: inherit;
  background-color: transparent;
}

.bug-fieldset > header [role="button"][aria-pressed="true"] {
  color: var(--alternate-button-foreground-color);
  background-color: transparent;
  opacity: 1;
}

.bug-details dl {
  padding: 0 1.2rem;
}

.bug-fieldset [data-field] > ul {
  padding: 0 .4rem;
}

.bug-fieldset [data-field] {
  min-height: 2rem;
  line-height: 2rem;
}

.bug-details .bug-fieldset [data-field] {
  margin: .8rem 1.2rem;
}

.bug-details .bug-fieldset [data-field] h4 {
  line-height: 2rem;
}

.bug-details .bug-fieldset [data-field] .row {
  display: flex;
  align-items: center;
}

.bug-details .bug-fieldset [data-field] .row:not(:first-child) {
  margin-top: .8rem;
}

.bug-details .bug-fieldset [data-field] .row > * {
  flex: auto;
}

.bug-fieldset [data-field] > :-moz-any(time, a) {
  display: block;
  overflow: hidden;
  padding: 0 .4rem;
  line-height: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-details dt,
.bug-details dd,
.bug-fieldset [data-field] > ul > li {
  min-height: 1.6rem;
  line-height: 1.6rem;
}

.bug-details dt {
  width: 8rem;
  height: 1.6rem;
}

.bug-details dd {
  margin: -2.4rem 0 0 8rem;
  width: calc(100% - 8rem);
}

.bug-fieldset [role="link"],
.bug-fieldset [role="button"] {
  flex: none !important;
}

.bug-fieldset .iconic[role="link"],
.bug-fieldset .iconic[role="button"] {
  position: relative;
  margin-left: .4rem;
  border: 0;
  padding: 0;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-indent: -99999px;
}

.bug-fieldset .iconic[role="link"]::after,
.bug-fieldset .iconic[role="button"]::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  font-family: FontAwesome;
  line-height: 1.6rem;
  text-indent: 0;
  text-align: center;
}

.bug-fieldset .iconic[role="link"][aria-disabled="true"] {
  color: var(--disabled-button-foreground-color);
}

.bug-fieldset .iconic[role="link"]::after {
  content: "\F08E";
}

.bug-fieldset [role="combobox"][aria-readonly="true"][aria-disabled="true"] [role="button"] {
  display: none;
}

.bug-fieldset [role="combobox"][aria-readonly="true"] .listbox-outer {
  width: 100%;
}

.bug-fieldset [role="link"][itemprop="see_also"]:after {
  content: "\000A"; /* whitespace */
  white-space: pre; /* = <br> */
}

.bug-fieldset :not([role="combobox"]) > [role="button"]:not([itemscope]) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-fieldset :not([role="combobox"]) > [role="button"]:not([itemscope]):not(:last-child) {
  margin-right: .8rem;
}

.bug-fieldset :not([role="combobox"]) > [role="button"]:not([itemscope]) .icon {
  display: none;
}

[data-bug-id]:-moz-any([data-status="RESOLVED"], [data-status="VERIFIED"], [data-status="CLOSED"]) {
  text-decoration: line-through;
}

@media (min-width: 1024px) {
  [data-device="desktop"]:root .bug-details[id^="search"] {
    left: 50%;
    width: calc(50% - var(--participant-list-width));
  }
}

@media (max-width: 1023px) {
  [data-device="desktop"]:root .bug-details[id|="bug"],
  [data-device="desktop"]:root .bug-participants {
    border-width: 0;
  }
}

@media (min-width: 640px) {
  .bug-details .bug-fieldset [data-field] {
    position: relative;
    padding-left: 8rem;
  }

  .bug-details .bug-fieldset[data-category="tracking-flags"] [data-field] {
    padding-left: 20rem;
  }

  .bug-details .bug-fieldset [data-field] h4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    text-align: right;
  }

  .bug-details .bug-fieldset[data-category="tracking-flags"] [data-field] h4 {
    width: 19rem;
  }
}

@media (max-width: 639px) {
  .bug-details .bug-fieldset [data-field] h4 {
    margin-bottom: .2rem;
  }
}
