/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.bug-timeline [itemprop="comment"] {
  position: relative;
  margin: var(--comment-margin) var(--comment-margin) 0;
  border: .1rem solid var(--secondary-grid-border-color);
  border-radius: .2rem;
  color: var(--content-foreground-color);
  background-color: var(--content-background-color);
}

.bug-timeline [itemprop="comment"]:last-child {
  margin-bottom: var(--comment-margin);
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] {
  display: block;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] + [itemprop="comment"][aria-expanded="false"] {
  margin-top: -.1rem;
}

.bug-timeline [itemprop="comment"]:focus {
  position: relative;
  z-index: 10; /* Show all borders */
  border-color: var(--base-accent-color-1);
}

.bug-timeline [itemprop="comment"] > * {
  padding: var(--comment-padding);
}

.bug-timeline [itemprop="comment"] header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  border-radius: .2rem; /* Same as the comment box */
}

.bug-timeline [itemprop="comment"][aria-expanded="true"] header {
  background-color: var(--content-background-color-alpha); /* Because of position: sticky, the comment text go under the header */
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] :not(header) {
  pointer-events: none !important; /* Only the <header> should be clickable */
}

.bug-timeline [itemprop="comment"] header .meta {
  flex: auto;
  overflow: hidden;
  min-height: 4rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  pointer-events: none;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] header .meta {
  display: flex;
}

.bug-timeline [itemprop="comment"] header [itemprop="author"] {
  position: relative;
  z-index: 10;
  line-height: 1.25;
}

.bug-timeline [itemprop="comment"] header [itemprop="author"],
.bug-timeline [itemprop="comment"][aria-expanded="true"] header .meta > [itemprop="name"] {
  display: inline-block;
  float: left;
  clear: both;
  padding-left: 4.8rem;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] header [itemprop="author"] {
  flex: auto;
  padding-right: .8rem;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] header [itemprop="author"] .roles,
.bug-timeline [itemprop="comment"][aria-expanded="false"] header .meta > [itemprop="name"] {
  display: none;
}

.bug-timeline [itemprop="comment"] header .meta > [itemprop="name"]::after {
  color: var(--disabled-button-foreground-color);
  content: "\00A0\00B7\00A0"; /* nbsp + middot + nbsp */
}

.bug-timeline [itemprop="comment"] header [itemprop="author"] [itemprop="image"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  color: #FCFCFC;
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: auto; /* Enable clicks to show the profile page */
}

.bug-timeline [itemprop="comment"] header [itemprop="author"] [itemprop="name"] {
  display: inline-block;
  overflow: hidden;
  margin-top: .2rem;
  max-width: 24rem;
  font-size: 1.3rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-timeline [itemprop="comment"] header [itemprop="author"] .roles {
  display: inline-block;
  margin: 0 0 .4rem .4rem;
  vertical-align: top;
  white-space: nowrap;
}

.bug-timeline [itemprop="comment"] header [itemprop="author"] [itemprop="role"] {
  display: inline-block;
  margin-left: .4rem;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--button-border-color);
  border-radius: .4rem;
  padding: .1rem .4rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--disabled-button-foreground-color);
}

.bug-timeline [itemprop="comment"][aria-expanded="true"] header [itemprop="creation_time"] {
  display: inline-block;
  float: left;
  pointer-events: auto; /* Show the tooltip */
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] header .meta > [itemprop="name"],
.bug-timeline [itemprop="comment"][aria-expanded="false"] header [itemprop="creation_time"] {
  flex: none;
  margin: .4rem 0;
  line-height: 1.25;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] {
  overflow: hidden;
  padding-top: 0 !important;
  font-size: 1.4rem;
  line-height: 1.6;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] ul,
.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] ol {
  margin: 1em 0;
  padding-left: 2rem;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] ul li {
  list-style-type: disc;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] ol li {
  list-style-type: decimal;
}

.bug-timeline [itemprop="comment"] [itemprop="text"]:empty {
  display: none;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"],
.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] {
  position: relative;
  z-index: 10;
  margin-left: 4.8rem;
  height: 1.6rem;
  color: var(--disabled-button-foreground-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.6rem;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:not(:empty) + [itemprop="attachment"] {
  display: none;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] * {
  display: inline;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
}

[data-ui-timeline-font-family="monospace"]:root .bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] {
  font-family: FiraMono, monospace;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] p {
  margin: var(--comment-margin) 0;
  white-space: pre-wrap;
  -moz-user-select: text;
  cursor: text;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] p:first-child {
  margin-top: 0;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] p:last-child {
  margin-bottom: 0;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] p {
  margin: 0 !important;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] p::after {
  display: inline !important;
  content: ' ';
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] blockquote {
  margin: 0;
  border-left: .2rem solid var(--region-border-color);
  padding-left: 1rem;
  color: var(--secondary-content-foreground-color);
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] blockquote {
  border: 0;
  padding: 0;
  color: inherit;
}

.bug-timeline-wrapper [itemprop="comment"] [itemprop="text"] a {
  -moz-user-select: text;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] a {
  color: var(--disabled-button-foreground-color);
  text-decoration: none;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"] br {
  display: none;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] {
  margin: 0;
  border-top: .1rem solid var(--secondary-grid-border-color);
  padding: 0 !important;
  width: auto;
  color: var(--hyperlink-text-foreground-color); /* Looks like a link */
  background-color: var(--secondary-region-background-color);
  cursor: pointer; /* Looks like a link */
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] {
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
  padding: 0 var(--comment-margin) var(--comment-margin) !important;
  background-color: transparent;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] [itemprop="content_type"] {
  display: block;
  float: left;
  padding: var(--comment-margin);
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] [itemprop="content_type"] {
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] h5 {
  padding: var(--comment-margin);
  min-height: 2rem;
  line-height: 1.8rem;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] h5 {
  display: inline;
  padding: 0;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] div {
  position: relative;
  padding: 0 var(--comment-margin) var(--comment-margin);
  text-align: center;
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] div {
  display: none;
}

[data-ui-timeline-display-attachments-inline="false"]:root .bug-timeline [itemprop="comment"] [itemprop="attachment"] div {
  display: none;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] div[aria-busy="true"] {
  height: 10rem;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] div * {
  max-width: 100%;
  max-height: 80rem;
  opacity: 1;
  transition: opacity 1s;
}

.bug-timeline [itemprop="comment"] [itemprop="attachment"] div[aria-busy="true"] * {
  opacity: 0;
}

.bug-timeline [itemprop="comment"] footer {
  border-top: .1rem solid var(--secondary-grid-border-color);
  border-radius: 0 0 .2rem .2rem;
  padding: calc(var(--comment-padding) / 2);
  background-color: var(--secondary-region-background-color);
}

.bug-timeline [itemprop="comment"][aria-expanded="false"] footer {
  display: none;
}

.bug-timeline [itemprop="comment"] footer [role="toolbar"] {
  height: 1.6rem;
}

.bug-timeline [itemprop="comment"] footer [role="button"] {
  height: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  pointer-events: auto !important;
}

.bug-timeline [itemprop="comment"] footer [role="button"]::before {
  width: 1.6rem;
  height: 1.6rem;
}

.bug-timeline [itemprop="change"] {
  margin: var(--comment-margin) calc(var(--comment-margin) * 2) 0 calc(var(--comment-margin) * 2 + 2rem);
  border-radius: 1.6rem;
  max-width: 80%;
  color: var(--alternate-disabled-button-foreground-color);
  line-height: 2rem;
}

[data-ui-timeline-show-cc-changes="false"]:root .bug-timeline [itemprop="change"][data-change-field="cc"] {
  display: none;
}

.bug-timeline [itemprop="change"] * {
  -moz-user-select: text;
}

.bug-timeline [itemprop="change"] [itemprop="image"] {
  display: none;
}

.bug-timeline [itemprop="change"] [itemprop="author"] [itemprop="image"] {
  display: inline;
  margin: 0 .4rem 0 -2rem;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: text-bottom;
}

.bug-timeline [itemprop="change"] [itemprop="givenName"] {
  white-space: nowrap;
}

.bug-timeline [itemprop="change"] strong {
  color: var(--secondary-content-foreground-color);
}

.bug-timeline [itemprop="change"] time {
  white-space: nowrap;
  text-transform: lowercase;
}

@media (min-width: 1024px) {
  .bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"],
  .bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] {
    margin-top: -2.8rem;
  }
  
  .bug-timeline [itemprop="comment"] [itemprop="attachment"] h5 {
    padding-left: 4.2rem;
  }

  .bug-timeline [itemprop="comment"] [itemprop="attachment"] h5::before {
    margin: -.3rem 0 0 -3.3rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 1023px) {
  [data-device|="mobile"][data-ui-timeline-sort-order="ascending"]:root .comments-wrapper > :last-child,
  [data-device|="mobile"][data-ui-timeline-sort-order="descending"]:root .comments-wrapper > :first-child {
    margin-bottom: var(--comment-margin);
  }

  .bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"],
  .bug-timeline [itemprop="comment"][aria-expanded="false"] [itemprop="text"]:empty + [itemprop="attachment"] {
    margin-top: -2.4rem;
  }
  
  .bug-timeline [itemprop="comment"][aria-expanded="false"] header [itemprop="author"] .roles {
    display: none;
  }

  .bug-timeline [itemprop="comment"] [itemprop="attachment"] h5 {
    padding-left: 3.4rem;
  }

  .bug-timeline [itemprop="comment"] [itemprop="attachment"] h5::before {
    margin: -.1rem 0 0 -2.7rem;
    width: 2rem;
    height: 2rem;
  }
}
