/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.bug-fieldset[data-category="participants"] [data-field] {
  margin: 1.2rem 0;
  padding: 0 1.2rem 0 8rem;
}

.bug-fieldset[data-category="participants"] [data-field]:not(:last-child) {
  border-bottom: .1rem solid var(--secondary-grid-border-color);
  padding-bottom: 1.2rem;
}

.bug-fieldset[data-category="participants"] [data-field] header {
  float: left;
  margin-left: -12rem;
}

.bug-fieldset[data-category="participants"] [data-field] header h4 {
  position: static;
}

.bug-fieldset[data-category="participants"] .controls[aria-hidden="true"] {
  display: none;
}

.bug-fieldset[data-category="participants"] .finder-outer {
  display: flex;
}

.bug-fieldset[data-category="participants"] .finder-outer label {
  flex: none;
  margin-right: .4rem;
}

.bug-fieldset[data-category="participants"] .finder-outer [role="combobox"] {
  flex: auto;
}

.bug-fieldset[data-category="participants"] .button-outer {
  flex: none !important;
  margin-left: .8rem;
  border-left: .1rem solid var(--secondary-grid-border-color);
  padding-left: .8rem;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] {
  display: flex;
  position: relative;
  overflow: visible; /* Display menu */
  margin: 0 0 .2rem;
  border-color: transparent;
  padding: .4rem;
  height: 2.4rem;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  transition: all .4s;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"]:hover,
.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"]:focus {
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"].removing {
  opacity: 0;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] [itemprop="image"] {
  flex: none;
  margin-right: .8rem;
  width: 2.4rem;
  height: 2.4rem;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] label {
  flex: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] [itemprop="name"] {
  font-size: 1.3rem;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] [itemprop="alternateName"] {
  margin-left: .8rem;
  opacity: .5;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] .icon {
  flex: none;
  width: 1.6rem;
  height: 1.6rem;
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] .icon::before {
  font-family: FontAwesome;
  content: "\F0D7";
}

.bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] [role="menu"] {
  right: .4rem;
  top: 2.8rem;
}

@media (min-width: 1024px) {
  [data-device="desktop"]:root .bug-fieldset[data-category="participants"][id|="bug"] {
    flex: none;
    width: var(--participant-list-width);
  }

  [data-device="desktop"]:root .bug-fieldset[data-category="participants"][id^="search"] {
    right: 0;
    width: var(--participant-list-width);
  }

  [data-device|="mobile"]:root .bug-fieldset[data-category="participants"] .list {
    display: flex;
    flex-wrap: wrap;
  }

  [data-device|="mobile"]:root .bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] {
    flex: 0 0 var(--participant-list-width);
    margin-right: .8rem;
  }
}

@media (max-width: 1023px) {
  .bug-fieldset[data-category="participants"] .list {
    display: flex;
    flex-wrap: wrap;
  }

  .bug-fieldset[data-category="participants"] [itemprop][itemtype$="User"] {
    flex: 0 0 var(--participant-list-width);
    margin-right: .8rem;
  }
}

@media (max-width: 639px) {
  .bug-fieldset[data-category="participants"] .list {
    display: block;
  }
}
