/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabpanel-home > section > div {
  display: flex;
  background-color: var(--content-background-color);
}

[data-device|="mobile"]:root #tabpanel-home > section > header h2 {
  display: none;
}

[data-device|="mobile"]:root #tabpanel-home > section > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-home-layout="vertical"]:root #tabpanel-home > section > div {
  flex-direction: row;
}

[data-home-layout="classic"]:root #tabpanel-home > section > div {
  flex-direction: column;
}

#home-preview-pane {
  overflow: hidden;
  flex: auto;
}

[data-home-layout="vertical"]:root #home-preview-pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--application-background-color);
  transition: transform .4s;
}

[data-home-layout="vertical"]:root #home-preview-pane[aria-expanded="false"] {
  display: block;
}

[data-home-layout="classic"]:root #home-preview-pane {
  min-height: 8rem;
}

@media (min-width: 1024px) {
  [data-device|="mobile"]:root #home-preview-bug > header {
    position: fixed;
    top: 0;
    z-index: 200;
    border-width: 0;
    padding: 0;
    height: 4rem;
    color: var(--application-header-foreground-color);
    background-color: var(--application-header-background-color);
  }

  [data-device|="mobile"]:root #home-preview-bug > header > h3 {
    overflow: hidden;
    padding: 1rem 4rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  [data-device|="mobile"]:root #home-preview-bug > header > h3 [itemprop="summary"] {
    display: none;
  }

  [data-device|="mobile"]:root #home-preview-bug > header > [role="toolbar"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    min-width: 4rem;
    height: 4rem;
  }

  [data-device|="mobile"]:root #home-preview-bug > header > [role="toolbar"] > ul:not([role="menu"]) {
    margin: 0;
    padding: 0;
    min-width: 4rem;
    height: 4rem;
  }

  [data-device|="mobile"]:root #home-preview-bug > header > [role="toolbar"] .iconic {
    width: 4rem;
    height: 4rem;
    color: inherit;
  }

  [data-device|="mobile"]:root #home-preview-bug-timeline-wrapper {
    margin-top: 4rem;
  }
}

@media (max-width: 1023px) {
  [data-home-layout="vertical"]:root #home-preview-pane {
    display: none !important;
  }
}
