/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#app-login > div {
  flex: none;
  margin: 0 2.4rem;
  width: auto;
  max-width: 56rem;
}

#app-login h1 {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-indent: -9999rem;
  background-image: url(/static/images/logo/icon-256-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(.1rem .1rem .1rem rgba(0, 0, 0, .4)); /* Fallback */
  filter: drop-shadow(.1rem .1rem .1rem #0006);
}

#app-login p {
  margin-top: 1.6rem;
}

#app-login p:empty {
  display: none;
}

#app-login a {
  color: inherit;
  font-weight: 500;
  white-space: nowrap;
}

[data-device="desktop"]:root #app-login [role="button"][data-id="qrcode-auth"] {
  display: none;
}

#app-login [role="form"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

#app-login [role="form"][aria-hidden="true"] {
  display: none !important;
}

#app-login [role="form"] p {
  margin: 0;
}

#app-login [role="button"] {
  margin: .8rem;
  font-size: 1.6rem;
  text-shadow: .1rem .1rem 0 #0003;
}

#app-login [role="status"] {
  margin-bottom: 0;
}

@media (min-width: 640px), (min-height: 640px) {
  #app-login > div {
    min-height: 32rem;
  }

  #app-login h1 {
    width: 12.8rem;
    height: 12.8rem;
  }
}

@media (max-width: 639px), (max-height: 639px) {
  #app-login h1 {
    width: 8rem;
    height: 8rem;
  }
}
