/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  border-left: .1rem solid var(--secondary-region-border-color);
  background-color: var(--application-background-color);
}

[data-device="desktop"]:root main {
  left: 5.6rem;
}

[data-device|="mobile"]:root main {
  left: 0;
}

[data-device|="mobile"]:root #navigator {
  left: 0;
}

#main-tablist {
  flex: none;
  height: 4rem;
  color: var(--secondary-region-header-foreground-color);
  background-color: var(--secondary-region-header-background-color);
}

#main-tablist [role="tab"] {
  border: 0;
}

#main-tablist [role="tab"][aria-selected="true"] {
  color: var(--application-foreground-color);
  background-color: var(--application-background-color);
}

#main-tablist [role="tab"] .close {
  color: var(--secondary-application-header-foreground-color);
  background-color: transparent;
  background-image: none;
}

#main-tablist [role="tab"] .close::after {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: FontAwesome;
  content: "\F00D";
  justify-content: center;
  align-items: center;
}

#tab-home .close {
  display: none;
}

#main-tabpanels {
  flex: auto;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--region-background-color);
  transform: translateX(0);
  transition: transform .4s ease .1s; /* Set a delay to avoid conflict with setAttribute on <html> */
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"]:-moz-any([id|="tabpanel-profile"], #tabpanel-settings) {
  z-index: 200;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"][aria-hidden="true"] {
  display: block;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"][aria-hidden="true"]:not(#tabpanel-home):not(.fixed) {
  transform: translateX(100%);
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"][aria-hidden="true"] * {
  pointer-events: none;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] {
  overflow: hidden;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] > * > :not(header) {
  display: none;
}

#main-tabpanels > [role="tabpanel"] > * {
  display: flex;
  flex-direction: column;
}

#main-tabpanels > [role="tabpanel"] > * > header {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  box-sizing: border-box;
}

[data-device="desktop"]:root #main-tabpanels > [role="tabpanel"] > * > header {
  display: none; /* Usually hide the header */
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header {
  display: none;
}

[data-device|="mobile"][data-quicksearch]:root #tabpanel-home > * > header > :not([role="toolbar"]) {
  display: none;
}

[data-device|="mobile"][data-quicksearch]:root #tabpanel-home > * > header > [role="toolbar"] {
  flex: auto;
}

#main-tabpanels > [role="tabpanel"] > * > header > :not(h2) {
  flex: none;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header > * {
  height: 4rem;
}

[data-device="desktop"]:root .banner-nav-button {
  display: none;
}

[data-device|="mobile"]:root .banner-nav-button {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 4rem;
  color: inherit;
}

.banner-nav-button:active {
  opacity: .8;
}

.banner-nav-button::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  font-family: FontAwesome;
  text-align: center;
}

[role="tabpanel"]:not(#sidebar) .banner-nav-button::before {
  content: "\F053"; /* back icon */
}

#sidebar .banner-nav-button::before {
  content: "\F0C9"; /* hamburger menu icon */
}

#main-tabpanels > [role="tabpanel"] > * > header h2 {
  flex: auto;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header h2 {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header h2:last-child {
  margin-right: 4rem; /* Same width as the nav button */
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] {
  right: 0;
  margin: 0;
  min-width: 4rem;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] > ul:not([role="menu"]) {
  margin: 0;
  padding: 0;
  min-width: 4rem;
  height: 4rem;
}

[data-device|="mobile"]:root #main-tabpanels > [role="tabpanel"] > * > header > [role="toolbar"] .iconic {
  width: 4rem;
  height: 4rem;
}

#main-tabpanels > [role="tabpanel"] > * > div {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

#main-tabpanels > [role="tabpanel"] > * > header {
  box-sizing: border-box;
  height: 4rem;
}

#main-tabpanels > [role="tabpanel"] > * > header > :-moz-any(h2, h3) {
  flex: auto;
  overflow: hidden;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 300;
  font-style: italic;
}
