/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#navigator {
  z-index: 200;
  box-sizing: border-box;
}

[data-device="desktop"]:root #navigator {
  flex: none;
  position: relative;
  overflow: visible; /* To show tooltips */
  width: 5.6rem;
  border-width: 0 .1rem 0 0;
  border-style: solid;
  border-color: var(--application-header-border-color);
  color: var(--application-header-foreground-color);
  background-color: var(--application-header-background-color);
}

[data-device|="mobile"]:root #navigator {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #0006 !important;
  transition: background-color .2s ease .4s; /* Set a delay for the transitioning navigator */
  pointer-events: auto;
}

[data-device|="mobile"]:root #navigator[aria-hidden="true"] {
  display: block;
  background-color: transparent !important;
  pointer-events: none;
}

#navigator > div {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

[data-device="desktop"]:root #navigator > div {
  overflow: visible; /* To show tooltips */
  top: .8rem;
  right: 0;
}

[data-device|="mobile"]:root #navigator > div {
  top: 0;
  right: auto;
  left: 0;
  width: calc(320px - 4rem);
  background-color: var(--region-background-color);
  transform: translateX(0);
  transition: transform .3s ease .1s; /* Set a delay to avoid conflict with setAttribute on <html> */
}

[data-device|="mobile"]:root #navigator[aria-hidden="true"] > div {
  transform: translateX(-100%);
}

#navigator h2 {
  position: absolute;
  left: -9999rem;
}

#navigator-folder-list {
  background: transparent;
}

[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]) {
  padding: .4rem .8rem;
  height: 3.2rem;
  background-color: transparent;
  font-size: 1.25rem;
  color: var(--application-header-foreground-color);
}

[data-device="desktop"]:root #navigator [role="option"][aria-selected="true"] {
  color: var(--highlighted-button-border-color);
  background-image: linear-gradient(to bottom, #0004 0%, #0003 20%, #0003 80%, #0004 100%);
}

[data-device="desktop"]:root #navigator [role="option"][aria-selected="true"] .icon {
  opacity: 1;
}

#navigator :-moz-any([role="option"], [role="menuitem"]) {
  padding: .4rem 1.2rem;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]) label {
  display: none;
}

#navigator :-moz-any([role="option"], [role="menuitem"]) .icon::before {
  font-family: FontAwesome;
  text-align: center;
  vertical-align: middle;
  text-indent: 0;
}

[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]) .icon {
  display: flex;
  opacity: .6;
  transition: opacity .2s;
  pointer-events: none;
}

[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]):hover .icon,
[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]):focus .icon {
  opacity: .8;
}

[data-device="desktop"]:root #navigator :-moz-any([role="option"], [role="menuitem"]) .icon::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-shadow: 0 0 .4rem #0006;
}

[data-device|="mobile"]:root #navigator :-moz-any([role="option"], [role="menuitem"]) .icon::before {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.6rem;
  opacity: .4;
}

#navigator-folder-search .icon::before {
  content: "\F002";
}

#navigator-folder-inbox .icon::before {
  content: "\F01C";
}

#navigator-folder-starred .icon::before {
  content: "\F005";
}

#navigator-folder-requests .icon::before {
  content: "\F06A";
}

#navigator-folder-reported .icon::before {
  content: "\F1D8";
}

#navigator-folder-watching .icon::before {
  content: "\F02E";
}

#navigator-folder-assigned .icon::before {
  content: "\F0F2";
}

#navigator-folder-mentor .icon::before {
  content: "\F1CD";
}

#navigator-folder-qa .icon::before {
  content: "\F0C3"; /* flask */
}

#navigator-folder-all .icon::before {
  content: "\F036";
}

#main-menu-app-settings .icon::before {
  content: "\F013";
}

#navigator-folder-list [role="option"] label span {
  display: inline-block;
  position: relative;
  float: right;
  border-radius: 1rem;
  padding: .4rem;
  min-width: 1rem;
  height: 1rem;
  color: var(--control-foreground-color);
  background-color: var(--control-background-color);
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;
  text-indent: 0;
}

[data-device="desktop"]:root #navigator-folder-list [role="option"] label span {
  top: -1.8rem;
}

[data-device|="mobile"]:root #navigator-folder-list [role="option"] label span {
  top: -2rem;
}

#navigator [role="menuitem"][aria-selected="true"] {
  color: inherit;
  background-color: transparent;
}

#navigator [role="option"]:last-of-type,
#navigator [role="none"]:last-of-type [role="menuitem"],
#main-menu-app-account {
  border-bottom-width: 0;
}

#navigator-account {
  background-position: center center;
  background-size: cover;
}

#navigator-account h2 {
  position: absolute;
  left: -9999rem;
}

#main-menu-app-account {
  display: block;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  padding: 1.2rem;
  height: auto !important;
  background: transparent;
}

[data-device="desktop"]:root #main-menu-app-account {
  width: 5.6rem !important;
  height: 5.6rem !important;
}

[data-device|="mobile"]:root #main-menu-app-account {
  background: linear-gradient(to bottom, transparent, #0006);
}

#main-menu-app-account .icon {
  display: none;
}

#main-menu-app-account label {
  display: block;
  position: relative;
  padding-left: 4rem;
  height: 3.2rem;
  color: #FFFC;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-shadow: 0 0 .1rem #0009;
}

[data-device="desktop"]:root #main-menu-app-account label {
  padding: 0;
}

#main-menu-app-account label * {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-device="desktop"]:root #main-menu-app-account label :not(img) {
  position: absolute;
  left: -99999px;
}

#main-menu-app-account label strong {
  font-size: 1.2rem;
}

#main-menu-app-account [itemprop="image"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
}

#main-menu-app-account [itemprop="email"] {
  opacity: .8;
}

#navigator-menu {
  border-width: .1rem 0 0;
  border-style: solid;
  border-color: var(--secondary-region-border-color);
}

#main-menu-app-menu {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

#main-menu-app-menu li {
  float: none;
}

[data-device="desktop"]:root #main-menu-app-menu {
  overflow: visible; /* To show tooltips */
}

[data-device="desktop"]:root #navigator-account,
[data-device="desktop"]:root #navigator-menu {
  position: absolute;
  width: 100%;
}

[data-device="desktop"]:root #navigator-account {
  bottom: 0;
  background-image: none !important;
}

[data-device="desktop"]:root #navigator-menu {
  border-width: 0;
  bottom: 5.6rem;
}
