/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#settings-tablist {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 1.6rem 0;
  width: 16rem;
  height: 100%;
}

#settings-tablist::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: .1rem;
  background: linear-gradient(to bottom, transparent, var(--secondary-region-border-color) 16rem);
  content: "";
}

#settings-tablist [role="tab"] {
  display: flex;
  float: none;
  box-sizing: content-box; /* initial value */
  border: 0;
  padding: .4rem .8rem;
  width: auto;
  height: auto;
  background-clip: border-box; /* initial value */
  opacity: .7;
  transition: all .2s;
}

#settings-tablist [role="tab"]:hover {
  opacity: 1;
}

#settings-tablist [role="tab"][aria-selected="true"] {
  color: var(--secondary-region-header-foreground-color);
  background-color: var(--secondary-region-header-background-color);
  opacity: 1;
}

#settings-tablist [role="tab"] label {
  display: block;
  position: static;
  padding: .4rem 0;
  height: auto;
  font-size: 1.4rem;
  line-height: 2rem;
}

#settings-tablist [role="tab"] .icon {
  display: inline-flex;
  margin: 0;
  width: 4rem;
  font-family: FontAwesome;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
}

#settings-tab-account .icon::before {
  content: "\F007";
}

#settings-tab-design .icon::before {
  content: "\F1FC";
}

#settings-tab-datetime .icon::before {
  content: "\F017";
}

#settings-tab-notifications .icon::before {
  content: "\F0F3";
}

#settings-tab-timeline .icon::before {
  content: "\F086";
}

#settings-tab-editing .icon::before {
  content: "\F044";
}

#settings-tab-about .icon::before {
  content: "\F05A";
}

[data-device="desktop"]:root #tabpanel-settings > section > div {
  overflow: hidden;
  padding: 0 4rem;
}

[data-device|="mobile"]:root #tabpanel-settings > section > div {
  overflow: auto;
  padding: 0;
  pointer-events: auto;
}

[id^="settings-tabpanel"] {
  position: absolute;
  top: 4rem;
  right: 4rem;
  bottom: 4rem;
  left: calc(16rem + 4rem);
  width: auto;
  height: auto;
}

[id^="settings-tabpanel"] > section > * {
  position: relative;
  height: auto;
}

[id^="settings-tabpanel"] > section > h3 {
  margin-bottom: .8rem;
  border-width: 0 0 .1rem;
  border-style: solid;
  border-color: var(--secondary-region-border-color);
  padding-bottom: 1.6rem;
  font-size: 2.4rem;
}

[id^="settings-tabpanel"] > section > section {
  margin: 2.4rem 0;
  font-size: 1.4rem;
}

[id^="settings-tabpanel"] > section > section[data-platform="desktop"] {
  display: none !important; /* TEMP: Hide the option because the Classic View is currently broken */
}

[data-device|="mobile"]:root [id^="settings-tabpanel"] > section > section[data-platform="desktop"] {
  display: none !important;
}

[id^="settings-tabpanel"] > section > section > h4 {
  margin-bottom: 1.2rem;
  font-weight: 500;
}

[id^="settings-tabpanel"] > section > section > ul li {
  margin: .8rem 0;
}

[id^="settings-tabpanel"] > section > section > h4 ~ :-moz-any(p, ol) {
  margin-top: 1rem;
  line-height: 1.5;
}

[id^="settings-tabpanel"] > section > section > ol {
  padding-left: 3rem;
}

[id^="settings-tabpanel"] > section > section > ol li {
  list-style-type: decimal;
}

[data-device|="mobile"]:root #settings-tab-account,
[data-device|="mobile"]:root #settings-tabpanel-account {
  display: none; /* The Account tabpanel only has the QR code for now, so it should be hidden on mobile */
}

#settings-qrcode-outer p {
  margin-top: 0;
}

#settings-qrcode-outer .placeholder {
  margin: 2rem 0;
  padding: 2rem;
  width: 192px; /* same as the inner <canvas> */
  height: 192px; /* same as the inner <canvas> */
  background-color: #FFF; /* for a better recognition */
}

#settings-qrcode-outer .placeholder[hidden] {
  display: none;
}

#settings-qrcode-outer [role="button"] {
  margin: .8rem 0;
  padding: .8rem 1.6rem;
  color: var(--highlighted-button-foreground-color);
  background-color: var(--highlighted-button-background-color);
  line-height: 1.6rem;
  font-style: italic;
}

@media (min-width: 1024px) {
  [data-device|="mobile"]:root #settings-tablist [role="tab"] label {
    font-size: 1.25rem;
  }
}

@media (max-width: 1023px) {
  [data-device|="mobile"]:root #settings-tablist {
    display: none;
  }

  [data-device|="mobile"]:root [id^="settings-tabpanel"],
  [data-device|="mobile"]:root [id^="settings-tabpanel"] > * {
    position: static;
    height: auto;
  }

  [data-device|="mobile"]:root [id^="settings-tabpanel"][aria-hidden="true"] {
    display: block;
  }

  [data-device|="mobile"]:root [id^="settings-tabpanel"] > section > h3 {
    margin: 0;
    border: 0;
    padding: .8rem 1.2rem;
    height: 1.4rem;
    color: var(--secondary-region-header-foreground-color);
    background-color: var(--secondary-region-header-background-color);
    font-size: 1.25rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 359px) {
  [data-device|="mobile"]:root #tabpanel-settings > section > div > section > section > h4 {
    float: none;
  }

  [data-device|="mobile"]:root #tabpanel-settings > section > div > section > section > ul {
    margin: .8rem 0 0;
  }
}
