/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[data-home-layout="vertical"]:root #sidebar-list-pane {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

[data-home-layout="vertical"]:root #sidebar-list-pane > header {
  position: relative;
  flex: none;
  overflow: hidden;
  box-sizing: border-box;
  height: 4rem;
}

[data-device|="mobile"]:root #sidebar-list-pane > header {
  color: var(--application-header-foreground-color);
  background-color: var(--application-header-background-color);
}

[data-home-layout="vertical"]:root #sidebar-list-pane > header h3 {
  overflow: hidden;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 300;
  font-style: italic;
}

[data-device|="mobile"]:root #sidebar-list-pane > header h3 {
  font-size: 2rem;
  text-align: center;
}

[data-home-layout="vertical"]:root #home-vertical-thread {
  flex: auto;
}

[data-home-layout="classic"]:root #sidebar-list-pane {
  width: 100% !important;
  height: 21.6rem;
  min-height: 8rem;
}

[data-home-layout="classic"]:root #sidebar-list-pane > header {
  display: none;
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(calc(100% - 4rem));
}

[data-device="desktop"]:root #sidebar-list-searchbar {
  transition: transform .3s ease-in;
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar.active {
  background-color: var(--content-background-color);
  transform: translateX(0);
}

[data-device|="mobile"]:root #sidebar-list-searchbar.active {
  background-color: var(--content-background-color);
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar [role="button"] {
  flex: none;
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem;
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar [role="button"]:active {
  background-color: transparent;
}

[data-device|="mobile"]:root #sidebar-list-searchbar:not(.active) [role="button"] {
  color: inherit;
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar [role="button"][data-id="search"]::before {
  content: "\F002";
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar [role="button"][data-id="close"]::before {
  content: "\F00D";
}

[data-home-layout="vertical"]:root #sidebar-list-searchbar [role="searchbox"] {
  flex: auto;
  display: inline-block;
  border: 0;
  padding: 0;
  min-width: 0; /* Make sure flexbox works as expected */
  height: 4rem;
  background-color: transparent;
  box-shadow: none;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 300;
  font-style: italic;
}

#sidebar-list-pane > footer {
  position: absolute;
  z-index: 10;
  top: 4rem; /* header */
  bottom: 0;
  width: 100%;
  background-color: var(--content-background-color);
}

#sidebar-list-pane > footer [role="status"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

[data-home-layout="vertical"]:root #sidebar-list,
[data-home-layout="classic"]:root #home-vertical-thread {
  display: none;
}

#sidebar-list .grid-body [role="row"]:nth-child(even):not([aria-selected="true"]) {
  background-color: var(--grid-even-row-background-color);
}

@media (min-width: 1024px) {
  [data-device|="mobile"]:root #sidebar-list-pane {
    width: 30% !important;
    min-width: 0 !important;
  }
}

@media (max-width: 1023px) {
  [data-home-layout="vertical"]:root #sidebar-list-pane {
    width: 100% !important;
  }
}
