/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[id$="vertical-thread"] {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

[id$="vertical-thread"][aria-busy="true"] > * {
  display: none;
}

[id$="vertical-thread"] header {
  display: flex;
  margin: 0 1.2rem;
  border-top: 1px solid var(--secondary-grid-border-color);
  padding: .8rem 0;
  flex: none;
  justify-content: center;
}

[id$="vertical-thread"] header [role="radiogroup"] {
  display: flex;
  justify-content: center;
  flex: auto;
}

[id$="vertical-thread"] header [role="radio"] {
  margin: 0 .4rem;
  border-radius: .4rem;
  padding: .2rem 1.2rem;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s;
}

[id$="vertical-thread"] header [role="radio"][aria-checked="true"] {
  color: var(--alternate-pressed-button-foreground-color);
  background-color: var(--alternate-pressed-button-background-color);
}

[id$="vertical-thread"] header [role="radio"]::before {
  display: none;
}

[id$="vertical-thread"] header [role="button"] {
  width: 2rem;
  height: 2rem;
  flex: none;
}

[id$="vertical-thread"] header [role="button"][data-command="sort"]::before {
  font-size: 1.6rem;
  font-family: FiraSans;
}

[id$="vertical-thread"] header [role="button"][data-command="sort"][aria-pressed="false"]::before {
  content: "\2193"; /* descending, new to old, default */
}

[id$="vertical-thread"] header [role="button"][data-command="sort"][aria-pressed="true"]::before {
  content: "\2191"; /* ascending, old to new */
}

[id$="vertical-thread"] .scrollable {
  display: flex;
  flex: auto;
}

[id$="vertical-thread"] [role="listbox"] {
  flex: auto;
}

[id$="vertical-thread"] [role="option"] {
  --option-padding: 1.6rem;
  --option-height: 4.8rem;
  --icon-height: 4rem;
  position: relative;
  padding: 0 var(--option-padding);
  height: calc(var(--option-height) + var(--option-padding) * 2);
}

[id$="vertical-thread"] [role="option"][aria-selected="false"]::before {
  position: absolute;
  top: 0;
  left: 1.2rem;
  right: 1.2rem;
  height: .1rem;
  background-color: var(--secondary-grid-border-color);
  content: "";
}

[id$="vertical-thread"] [role="option"] > * {
  position: absolute;
  display: block;
  margin: 0 !important;
  pointer-events: none;
}

[id$="vertical-thread"] [itemprop="contributor"] {
  top: calc(50% - var(--icon-height) / 2);
  left: var(--option-padding);
  overflow: hidden;
  width: var(--icon-height);
  height: var(--icon-height);
  color: #FCFCFC;
  font-size: 1.6rem;
  line-height: var(--icon-height);
  text-align: center;
}

[id$="vertical-thread"] [itemprop="contributor"] [itemprop="image"] {
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: opacity .4s;
}

[id$="vertical-thread"] [itemprop="contributor"] [itemprop="image"]:not([src]) {
  opacity: 0;
}

[id$="vertical-thread"] .labels {
  display: flex;
  overflow: hidden;
  top: 0;
  right: 4.2rem;
  left: calc(var(--icon-height) + var(--option-padding) * 2);
  height: 100%;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
}

[id$="vertical-thread"] .labels [itemprop="id"]::before {
  content: "#";
}

[id$="vertical-thread"] [itemprop="summary"],
[id$="vertical-thread"] [itemprop="extract"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[id$="vertical-thread"] [itemprop="summary"] {
  font-size: 1.4rem;
}

[id$="vertical-thread"] [itemprop="extract"],
[id$="vertical-thread"] [role="option"] ul {
  opacity: .7;
  font-size: 1.1rem;
}

[id$="vertical-thread"] [role="option"][data-unread="true"] [itemprop="summary"] {
  font-weight: 500;
}

[id$="vertical-thread"] [role="option"] ul {
  display: block;
  right: 4.2rem;
  bottom: var(--option-padding);
  left: calc(var(--option-padding) * 2 + var(--option-height));
}

[id$="vertical-thread"] [role="option"] li {
  display: inline;
}

[id$="vertical-thread"] [role="option"] li:not(:last-child)::after {
  content: '\00A0\00B7'; /* nbsp + middot */
}

[id$="vertical-thread"] [itemprop="starred"] {
  top: calc(50% - 1.6rem);
  right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  pointer-events: auto;
}

[id$="vertical-thread"] [itemprop="starred"]::before {
  display: inline-block;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  background-color: transparent;
  box-shadow: none;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
}

[id$="vertical-thread"] [itemprop="starred"][aria-checked="false"]::before {
  content: "\F006";
}

[id$="vertical-thread"] [itemprop="starred"][aria-checked="true"]::before {
  content: "\F005";
}

[id$="vertical-thread"] [itemprop="starred"]::after {
  content: "";
}

.bug-list col[data-id="id"][data-hidden="false"] {
  width: 6.4rem;
}

.bug-list col[data-id="summary"][data-hidden="false"] {
  width: 50%;
}

.bug-list col:-moz-any([data-id="starred"], [data-id="unread"])[data-hidden="false"] {
  width: 1.9rem;
}

.bug-list [role="row"][data-unread="true"] {
  font-weight: 500;
}

[data-device|="mobile"]:root .bug-list [role="row"][data-unread="true"] {
  background-color: transparent !important;
}

.bug-list [role="columnheader"]:-moz-any([data-id="starred"], [data-id="unread"]) label {
  padding: 0;
}

.bug-list [role="columnheader"] label,
.bug-list [role="checkbox"] {
  background-position: center;
  background-size: 72%;
  background-repeat: no-repeat;
}

.bug-list [role="columnheader"][data-type="boolean"] label::before,
.bug-list [role="gridcell"][data-type="boolean"] [role="checkbox"]::before {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-indent: 0;
}

.bug-list [role="columnheader"][data-type="boolean"] label::before {
  line-height: 1.8rem;
}

.bug-list [role="gridcell"][data-type="boolean"] [role="checkbox"]::before {
  line-height: 2rem;
}

.bug-list [role="gridcell"][data-type="boolean"] [aria-checked="false"]::before {
  font-family: FiraSans;
  content: "\2022";
}

.bug-list [role="columnheader"][data-id="starred"] label::before,
.bug-list [role="gridcell"][data-id="starred"] [aria-checked="true"]::before {
  font-family: FontAwesome;
  content: "\F005";
}

.bug-list [role="columnheader"][data-id="unread"] label::before,
.bug-list [role="gridcell"][data-id="unread"] [aria-checked="true"]::before {
  font-family: FontAwesome;
  content: "\F0A3";
}

@media (max-width: 1023px) {
  [data-device|="mobile"]:root [id$="vertical-thread"] [role="option"][data-unread="false"] {
    color: inherit;
    background-color: var(--secondary-region-background-color);
  }
}
