body {
  color: #999;
  background-color: #111;
}

ins, del {
  -moz-text-decoration-color: rgba(153, 153, 153, 0.8); /* #999 */
}

:focus {
  outline-color: #666;
}

a[role="link"] {
  color: inherit;
}

#app-login {
  background-image: linear-gradient(to bottom, #444, #111);
}

#app-login [role="button"] {
  color: inherit;
  background-image: linear-gradient(to bottom, #444, #333);
}

#app-login [role="button"]:hover,
#app-login [role="button"]:focus {
  background-image: linear-gradient(to bottom, #555, #333);
}

#app-login [role="button"]:active {
  background-image: linear-gradient(to bottom, #333, #444);
}

#app-body {
  background-color: #111;
}

[role="tab"] .close {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 96, 32, 64);
}

[role="tab"] .close:hover {
  background-color: #333;
}

:-moz-any([role="option"], [role="treeitem"])[aria-selected="true"] {
  color: #CCC;
  background-color: #444;
}

[role="treeitem"][aria-expanded] + .expander {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 32, 32, 0);
}

[role="menu"] {
  background: #222;
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.5);
}

[role="menu"] [role="separator"] {
  border-color: #333;
}

[role^="menuitem"][aria-selected="true"] {
  color: #CCC;
  background-color: #444;
}

[role="menuitem"][aria-haspopup="true"]:after {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 32, 32, 0);
}

[role^="menuitem"][aria-checked="true"]:before,
[role="radio"][aria-checked="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 64, 32, 32);
}

[role="toolbar"] [role="button"][data-command="nav-back"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 256, 32, 224);
}

[role="toolbar"] [role="button"][data-command="nav-back"][aria-disabled="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 320, 32, 288);
}

[role="toolbar"] [role="button"][data-command="nav-forward"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 288, 32, 256);
}

[role="toolbar"] [role="button"][data-command="nav-forward"][aria-disabled="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 352, 32, 320);
}

[role="grid"] .grid-header {
  background-color: #333;
}

[role="grid"] .grid-header [aria-sort] label:after {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 32, 32, 0);
}

[role="grid"] .grid-body {
  background: #222;
}

[role="grid"] .grid-body [role="row"]:nth-child(even) {
  background-color: #292929;
}

[role="grid"] .grid-body [role="row"][aria-selected="true"] {
  color: #CCC;
  background-color: #444;
}

[role="grid"] [role="columnheader"],
[role="grid"] [role="gridcell"] {
  border-color: #1C1C1C;
}

[role="grid"] [role="row"][data-severity="blocker"],
[role="grid"] [role="row"][data-severity="critical"] {
  /* color: red; */
}

[role="gridcell"][data-type="boolean"][aria-readonly="false"] [aria-checked="false"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 160, 32, 128);
}

[role="columnheader"][data-id="_starred"],
[role="gridcell"][data-id="_starred"] [aria-checked="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 192, 32, 160);
}

[role="columnheader"][data-id="_unread"],
[role="gridcell"][data-id="_unread"] [aria-checked="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 224, 32, 192);
}

#column-drag-image-container {
  background-color: #222;
}

[role="textbox"] {
  border-color: #222;
  color: #999 !important;
  background-color: #333 !important;
  box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.2);
}

[role="textbox"]:focus {
  color: #333 !important;
  background-color: #CCC !important;
}

[role="banner"] [role="search"] [role="button"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 128, 32, 96);
}

[aria-busy="true"]:before {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 32, 256, 96, 192);
}

#sidebar {
  border-color: #111;
  background-color: #222;
}

#main-menu--app {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 32, 64, 96, 0);
}

#main-menu--app-menu:before {
  border-bottom-color: #222;
}

[itemprop="comment"] header [itemprop="author"] [itemprop="image"],
#main-menu--app--account label:before {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 32, 320, 96, 256);
}

#main-tablist [role="tab"] {
  border-color: #222;
  background-color: #333;
}

#main-tablist [role="tab"][aria-selected="true"] {
  background-color: #444;
}

#main-tabpanels {
  border-color: #222;
}

#main-tabpanels > [role="tabpanel"],
#main-tabpanels > [role="tabpanel"] > header,
#main-tabpanels > [role="tabpanel"] > footer {
  border-color: #222;
  background-image: linear-gradient(to bottom, #444, #333);
}

#main-tabpanels > [role="tabpanel"] > div {
  background-color: #333;
}

#tabpanel-home [id$="-pane"] {
  border-color:  #111;
  background-color: #222;
}

#tabpanel-home [id$="-pane"] h3 {
  border-color:  #111;
  background-color: #333;
}

#home-preview-pane {
  background-color: #333 !important;
}

[id*="-preview-"][itemtype="http://schema.org/Article"] > header {
  border-color:  #111;
  background-color: #333;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box {
  background-color: #222;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section {
  border-color:  #111;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section h3 {
  background-color: #333;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box {
  border-color:  #111;
  background-image: linear-gradient(to bottom, #444, #333);
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="button"] {
  border-color:  #222;
  background-image: linear-gradient(to bottom, #444, #333);
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="button"]:hover,
[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="button"]:focus {
  background-image: linear-gradient(to bottom, #555, #333);
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="button"]:active {
  background-image: linear-gradient(to bottom, #333, #444);
}

.bug-info {
  background-color: #222;
}

.bug-info > section h3 {
  border-color:  #111;
  background-color: #333;
}

.bug-info section > ul > li:not(:last-of-type),
.bug-info dd:not(:last-of-type) {
  border-color: #333;
}

.bug-info [role="button"]:hover {
  color: #333;
  background-color: #999;
}

[id$="-preview-pane"] .bug-timeline {
  border-color:  #222;
}

[itemprop="comment"] {
  border-color:  #222;
  background-color: #222;
}

[itemprop="comment"] header,
[itemprop="comment"] .changes {
  border-color: #222;
  background-color: #292929;
}

[itemprop="comment"] header [role="button"] {
  background-image: linear-gradient(to bottom, #444, #333);
  box-shadow: inset -1px -1px .4rem rgba(0, 0, 0, 0.5), inset -1px -1px 1px #555;
}

[itemprop="comment"] [itemprop="text"] {
  color: #CCC;
}

[itemprop="comment"] [itemprop="text"] blockquote {
  border-color: #666;
  color: #999;
}

.bug-attachments [itemprop="associatedMedia"] {
  border-color:  #222;
  background-color: #222;
}

.bug-attachments [itemprop="associatedMedia"] h4 {
  border-color: #222;
  background-color: #333;
}

.bug-history thead th {
  background-color: #333;
}

.bug-history tbody th,
.bug-history tbody td {
  background-color: #222;
}

.bug-history thead th,
.bug-history tbody th,
.bug-history tbody td {
  border-color: #292929;
}

#main-tabpanels [role="tabpanel"] > header [role="toolbar"],
#main-tabpanels [role="tabpanel"] > header [role="toolbar"] li:first-of-type {
  border-color: #222;
}

[id^="tabpanel-details-"][role="tabpanel"] > div > .bug-info {
  border-color: #222;
}

[id^="tabpanel-details-"][role="tablist"] {
  background-color: #222;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"] {
  background-color: #333;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"][aria-selected="true"] {
  background-color: #292929;
}

#tabpanel-settings > div {
  background-color: #222 !important;
}

#tabpanel-settings > div > section h3 {
  background-color: #333;
}

#tabpanel-settings > div > section > section {
  border-color: #333;
}

/* --------------------------------------------------------------------------
 * Mobile Support
 * -------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

:-moz-any([role="option"], [role="menuitem"], [role="treeitem"]):-moz-any(:active, [aria-selected="true"]) {
  background-color: #444;
}

[role="banner"] h1:before {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 384, 32, 368);
}

:root[data-current-tab="home"] [role="banner"] h1:before {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 0, 368, 32, 352);
}

#sidebar > div {
  background-color: #333;
}

#sidebar h2 {
  border-color: #666;
}

#sidebar [role="option"],
#sidebar [role="menuitem"] {
  border-color: #393939;
}

#main-tabpanels > [id^="tabpanel-details-"] > header {
  background-color: #222;
}

[itemprop="comment"] header {
  background-color: #333;
}

[role="grid"] .grid-body [role="row"] {
  border-color: #444;
}

[role="grid"] .grid-body [role="row"]:nth-child(even),
[role="grid"] .grid-body [role="row"][aria-selected="true"] {
  color: inherit;
  background-color: transparent;
}

[role="grid"] .grid-body [role="row"]:active {
  background-color: #444;
}

[role="grid"] .grid-body [role="row"][data-unread="true"] {
  background-color: #333;
}

[role="grid"] .grid-body [role="gridcell"][data-id="summary"] {
  color: #CCC;
}

[role="gridcell"][data-id="_starred"] [role="checkbox"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 32, 128, 96, 64) !important;
}

[role="gridcell"][data-id="_starred"] [role="checkbox"][aria-checked="true"] {
  background-image: -moz-image-rect(url(/static/images/themes/dark/sprite.png), 32, 192, 96, 128) !important;
}

[id^="tabpanel-details-"].tabpanels {
  background-color: #222;
}

.bug-timeline h2 {
  background-color: #222;
}

.bug-history tbody tr {
  border-color: #333;
}

.bug-history tbody th {
  background-color: #333;
}

} /* end @media */
