body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-family: "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

pre {
  margin: 0;
  font-family: Consolas, monospace;
  white-space: pre-wrap;
}

img, input {
  vertical-align: top;
}

input {
  pointer-events: auto;
  -moz-user-select: text;
}

a:link,
button {
  pointer-events: auto;
}

a[role="link"] {
  text-decoration: underline;
}

del a[role="link"] {
  text-decoration: none;
}

[tabindex] {
  outline: 0;
}

[role="tab"] {
  margin: .7rem .1rem 0 0;
  border-style: solid;
  border-width: 0;
  width: 9.6rem;
  height: 1.7rem;
  line-height: 1.6rem;
}

[role="tab"] .close {
  border-radius: .2rem;
  background-repeat: no-repeat;
  background-position: -62px -2px;
}

.tabpanels > [role="tabpanel"] {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#tab-home .close {
  display: none;
}

[role="textbox"] {
  display: inline-block;
  border: .1rem solid;
  padding: .4rem;
  height: 1.6rem;
  line-height: 1.6rem;
  pointer-events: auto;
  -moz-user-select: text;
  background-color: transparent;
  background-image: none; /* Suppress the default style on Firefox for mobile */
}

[role="grid"] th,
[role="grid"] td {
  border-right: .1rem solid;
}

[role="grid"] th:last-child,
[role="grid"] td:last-child {
  border-right: 0 none;
}

[role="columnheader"][data-type="boolean"] {
  padding: 0;
  background-repeat: no-repeat;
  text-indent: -99999px;
}

[role="gridcell"][data-type="boolean"] {
  padding: 0;
}

[role="gridcell"][data-type="boolean"] [role="checkbox"] {
  background-repeat: no-repeat;
}

[role="gridcell"][data-type="boolean"][aria-readonly="false"] [aria-checked="false"] {
  background-position: -101px -1px;
}

[role="columnheader"][data-id="_starred"],
[role="gridcell"][data-id="_starred"] [aria-checked="true"] {
  background-position: -121px -1px !important;
}

[role="columnheader"][data-id="_unread"],
[role="gridcell"][data-id="_unread"] [aria-checked="true"] {
  background-position: -141px -1px !important;
}

[role="treeitem"][aria-expanded] + .expander {
  background-repeat: no-repeat;
  transition: transform .2s;
}

[role="treeitem"][aria-expanded="false"] + .expander {
  transform: rotate(-90deg);
}

[role="menuitem"][aria-haspopup="true"]:after {
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

[role^="menuitem"][aria-checked="true"]:before {
  background-repeat: no-repeat;
  background-position: -40px 0;
}

[role="toolbar"] [role="button"][data-command="nav-back"] {
  background-position: 2px 0;
}

[role="toolbar"] [role="button"][data-command="nav-back"][aria-disabled="true"] {
  background-position: -18px 0;
}

[role="toolbar"] [role="button"][data-command="nav-forward"] {
  background-position: -38px 0;
}

[role="toolbar"] [role="button"][data-command="nav-forward"][aria-disabled="true"] {
  background-position: -58px 0;
}

[role="grid"] {
  height: 100%;
}

[role="grid"] table {
  width: 100%;
}

[role="grid"] .grid-body {
  height: calc(100% - 2rem);
}

/* TEMP */
[role="grid"] col { width: 13em; }
[role="grid"] col[data-id="id"] { width: 5em; }
[role="grid"] col[data-id="summary"] { width: auto; }
[role="grid"] col[data-id="_starred"], 
[role="grid"] col[data-id="_unread"] { width: 1.8rem; }

[role="grid"] [role="row"][data-unread="true"] {
  font-weight: bold;
}

[role="grid"] [role="row"][data-severity="blocker"] {
  /* font-weight: bold; */
}

[role="grid"] .grid-header [aria-sort] label:after {
  background-repeat: no-repeat;
  background-position: -20px -1px;
  transition: transform .2s;
}

[role="grid"] .grid-header [aria-sort="ascending"] label:after {
  transform: rotate(180deg);
}

[role="radio"][aria-checked="true"] {
  background-repeat: no-repeat;
  background-position: -40px 0;
}

[aria-busy="true"]:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.6rem 0 0 -1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-position: -124px -24px;
  content: 'Loading...';
  text-indent: -99999px;
  animation: throbber 1s linear 0s infinite;
}

.scrollable {
  pointer-events: auto;
}

#app-login {
  position: fixed;
  left: 0;
  z-index: 200;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#app-login[hidden] {
  display: block;
  opacity: 0;
}

#app-login div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6.4rem 0 0 -24rem;
  width: 48rem;
  height: 12.8rem;
}

#app-login h1 {
  overflow: hidden;
  float: left;
  width: 12.8rem;
  height: 12.8rem;
  text-indent: -99999px;
  background: url(/static/images/logo/icon-128.png) no-repeat;
  background-size: cover;
}

#app-login div > *:not(h1) {
  margin-left: 14.4rem;
}

#app-login p {
  margin-top: .4rem;
  line-height: 1.5;
}

#app-login dt,
#app-login dd,
#app-login [role="status"] {
  margin-top: 1.2rem;
  line-height: 1.5;
}

#app-login input {
  margin-right: .8rem;
  width: calc(100% - 8.8rem);
}

#app-login button {
  width: 7.2rem;
}

#app-login input,
#app-login button {
  display: inline-block;
  outline: 0 !important;
  border: 0;
  border-radius: .4rem;
  padding: .4rem;
  font-size: 1.2rem;
}

#app-body {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#app-body[hidden] {
  display: block;
}

#app-login[hidden] *,
#app-body[hidden] * {
  pointer-events: none;
}

[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

[role="banner"] h1 {
  position: absolute;
  left: 0;
  overflow: hidden;
  padding: 1rem 0 1rem 4rem;
  width: 0;
  height: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
}

[role="banner"] h1:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: url(/static/images/logo/icon-32.png) no-repeat center;
  content: '';
}

[role="banner"] [role="toolbar"] {
  position: absolute;
  right: 0;
  left: 4rem;
  height: 4rem;
}

[role="banner"] [role="toolbar"] > ul {
  position: absolute;
}

[role="banner"] [role="toolbar"] [id^="toolbar--"] {
  height: 4rem;
}

#toolbar--search-menu {
  right: 0;
  width: 32rem;
}

[role="banner"] [role="toolbar"] [id^="toolbar--"] > li {
  width: 4rem;
  height: 4rem;
}

#toolbar--search-menu > li {
  float: right;
}

[role="banner"] [role="toolbar"] [id^="toolbar--"] > li > span {
  display: inline-block;
  vertical-align: top;
}

#main-menu--app {
  overflow: hidden;
  padding: 0;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 -20px;
  text-indent: -99999px;
}

#main-menu--app-menu {
  z-index: 100;
  right: 0;
  margin: .4rem;
}

#main-menu--app-menu:before {
  display: block;
  position: absolute;
  top: -1.6rem;
  right: .8rem;
  margin-left: -.4rem;
  border: .8rem solid transparent;
  width: 0;
  height: 0;
  content: '';
}

#main-menu--app--account {
  padding: 0 .8rem;
  height: auto;
  opacity: 1;
}

#main-menu--app--account label {
  padding-left: calc(3em + .8rem);
}

#main-menu--app--account label:before {
  display: block;
  float: left;
  margin: .3rem .4rem 0 calc(-3em + -.8rem);
  border-radius: .2rem;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

[role="banner"] [role="search"] {
  margin: .8rem;
  width: 19.6rem !important;
  height: 2.4rem !important;
}

[role="banner"] [role="search"] [role="textbox"] {
  border: 0;
  border-radius: 3.2rem;
  padding: .4rem 2.8rem .4rem .8rem;
  height: 1.6rem;
  width: calc(100% - 2.8rem - .8rem);
  line-height: 1.6rem;
}

[role="banner"] [role="search"] [role="button"] {
  overflow: hidden;
  margin: .2rem 0 .2rem -2.4rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: -80px 0;
  text-indent: -99999px;
}

#quicksearch-dropdown {
  position: absolute;
  top: 4rem;
  max-width: 40rem;
  right: .4rem;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
}

#main-tablist {
  position: absolute;
  height: 4rem;
  top: .8rem;
  left: 4rem;
  right: 28rem;
  height: 3.2rem;
}

#main-tabpanels {
  position: absolute;
  width: 100%;
  top: 4rem;
  bottom: 0;
}

#main-tabpanels > [role="tabpanel"] > header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 3.2rem;
}

#main-tabpanels > [role="tabpanel"] > header h2 {
  overflow: hidden;
  margin: .8rem 8rem .8rem 1.6rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main-tabpanels > [role="tabpanel"] > header [role="toolbar"] {
  display: block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  overflow: hidden;
  border: .1rem solid;
  border-radius: .4rem;
}

#main-tabpanels > [role="tabpanel"] > header [role="toolbar"] li {
  display: block;
  float: left;
  width: 2.4rem;
  height: 2rem;
}

#main-tabpanels > [role="tabpanel"] > header [role="toolbar"] li:first-of-type {
  border-right: .1rem solid;
}

#main-tabpanels > [role="tabpanel"] > header [role="toolbar"] [role="button"] {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
}

#main-tabpanels > [role="tabpanel"] > div {
  position: absolute;
  border-style: solid;
  border-width: .1rem 0;
  top: 3.2rem;
  bottom: 3.2rem;
  width: 100%;
}

#tabpanel-home [id$="-pane"] {
  position: absolute;
  -moz-box-sizing: border-box;
}

#tabpanel-home [id$="-pane"] > h3 {
  height: 2.4rem;
  line-height: 2.4rem;
  border-bottom: .1rem solid;
  padding: 0 .8rem;
}

#tabpanel-home [id$="-pane"] [id$="-outer"] {
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#home-folder-pane {
  width: 16rem;
  height: 100%;
  border-right: .1rem solid;
}

#home-folder-pane h3 {
  position: absolute;
  left: -99999px;
}

#home-folders-outer {
  top: 0 !important;
}

#home-folders [role="option"] {
  padding: 0 1.2rem;
}

#home-list-pane {
  right: 0;
  left: 16rem;
  height: 21.6rem;
  border-right: .1rem solid;
}

#home-list [role="option"] {
  padding: .4rem;
  height: 3.2rem;
  line-height: 1.6rem;
}

#home-list [role="option"] .star {
  display: inline-block;
  float: left;
  width: 2.4rem;
  height: 3.2rem;
}

#home-list [role="option"] .star:before {
  display: inline-block;
  float: left;
  width: 2.4rem;
  height: 3.2rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-indent: .4rem;
  content: '☆';
}

#home-list [role="option"] .unread,
#home-list [role="option"] time {
  float: right;
}

#home-list [role="option"] label {
  font-weight: bold;
}

#home-preview-pane {
  top: 21.6rem;
  right: 0;
  bottom: 0;
  left: 16rem;
}

[id*="-preview-"][itemtype="http://schema.org/Article"] > header {
  position: absolute;
  top: 0;
  border-bottom: .1rem solid;
  width: 100%;
  height: 2.8rem;
  -moz-box-sizing: border-box;
}

[id*="-preview-"][itemtype="http://schema.org/Article"] > header h3 {
  overflow: hidden;
  margin: .4rem .8rem;
  height: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[id*="-preview-"][itemtype="http://schema.org/Article"] > div {
  top: 2.8rem;
}

[id^="tabpanel-search-"] > div {
  overflow: hidden;
}

[id^="tabpanel-search-"] [id$="-pane"] {
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition-property: top, bottom, height;
  transition-duration: .8s;
}

[id^="tabpanel-search-"] [id$="-pane"][aria-hidden="true"] {
  display: block;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] {
  top: 0;
  height: 22rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"][aria-hidden="true"] {
  top: -22rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box {
  overflow: hidden;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section {
  float: left;
  border-right: .1rem solid;
  width: calc(20% - .1rem);
  height: 16.2rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section:last-of-type {
  width: 20%;
  border-right: 0;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section h3 {
  height: 1.8rem;
  line-height: 1.8rem;
  padding: 0 .4rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box section > div {
  position: relative;
  overflow: hidden;
  height: 14.4rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box [role="listbox"] {
  height: 14.4rem;
  pointer-events: auto;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .browse-box [role="option"][aria-disabled="true"] {
  display: none;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box {
  position: relative;
  overflow: hidden;
  border-width: .1rem 0;
  border-style: solid;
  -moz-box-sizing: border-box;
  height: 5.8rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box section {
  margin: 1.6rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box h3 {
  position: absolute;
  left: -99999px;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box dl {
  text-align: center;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box dt,
[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box dd {
  display: inline-block;
  margin: 0 .4rem;
  vertical-align: middle;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box dt:after {
  content: ':';
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="textbox"] {
  width: 24rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] .text-box [role="button"] {
  display: inline-block;
  border: .1rem solid;
  border-radius: 3.2rem;
  padding: .4rem 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
}

[id^="tabpanel-search-"] [id$="-result-pane"] {
  top: 22rem;
  bottom: 0;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"][aria-hidden="true"] + [id$="-result-pane"] {
  top: 0;
  bottom: calc(100% - 24rem);
  height: 24rem;
}

[id^="tabpanel-search-"] [id$="-preview-pane"] {
  top: 24rem;
  bottom: 0;
}

[id^="tabpanel-search-"] [id$="-preview-pane"][aria-hidden="true"] {
  top: 100%;
  bottom: -24rem;
}

.bug-info {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: auto;
}

[id$="-preview-pane"] .bug-info {
  width: 32rem;
}

.bug-info > section h3 {
  height: 2.4rem;
  line-height: 2.4rem;
  border-bottom: .1rem solid;
  padding: 0 1.2rem;
}

.bug-info dl,
.bug-info > section > ul {
  overflow: hidden;
  padding: 1.2rem;
}

.bug-info dl > dt {
  float: left;
  clear: both;
  width: 10rem;
  padding: .4rem 0;
  min-height: 1.6rem;
  line-height: 1.6rem;
}

.bug-info dl > dd,
.bug-info > section > ul > li {
  padding: .4rem 0;
  min-height: 1.6rem;
  line-height: 1.6rem;
}

.bug-info dl > dd {
  float: left;
  margin-left: -10rem;
  padding-left: 11rem;
  width: calc(100% - 11rem);
}

.bug-info [role="button"] {
  display: inline-block;
  overflow: hidden;
  padding: .2rem .4rem;
  max-width: 100%;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bug-info [role="button"]:hover {
  border-radius: .2rem;
}

.bug-timeline {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: auto;
  -moz-box-sizing: border-box;
}

[id$="-preview-pane"] .bug-timeline {
  right: 0;
  left: 32rem;
  border-left: .1rem solid;
  width: auto;
}

.bug-timeline h3,
.bug-attachments h3,
.bug-history h3 {
  position: absolute;
  left: -99999px;
}

[itemprop="comment"] {
  overflow: hidden;
  margin: 1.2rem;
  border: .1rem solid;
  border-radius: .4rem;
}

[itemprop="comment"] > * {
  padding: 1.2rem;
}

[itemprop="comment"] header {
  overflow: hidden;
  border-bottom: .1rem solid;
}

[itemprop="comment"] header p {
  line-height: 1.5rem;
}

[itemprop="comment"] header p.meta {
  overflow: hidden;
}

[itemprop="comment"] header p > * {
  display: block;
  padding: 0 .8rem;
}

[itemprop="comment"] header [itemprop="author"] [itemprop="image"] {
  display: inline-block;
  float: left;
  margin: 0 .8rem 0 -.8rem;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[itemprop="comment"] header [itemprop="author"] [itemprop="name"] {
  display: block;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[itemprop="comment"] header .tools {
  text-align: right;
}

[itemprop="comment"] header [role="button"] {
  display: inline-block;
  margin: 0 0 0 .8rem;
  border-radius: .4rem;
  padding: 0 1rem;
  font-size: 1.1rem;
}

[itemprop="comment"] [itemprop="text"] {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: Consolas, monospace;
  letter-spacing: -.02ex;
}

:root[data-setting-timeline-font-family="proportional"] [itemprop="comment"] [itemprop="text"] {
  font-family: inherit;
  letter-spacing: normal;
}

[itemprop="comment"] [itemprop="text"] p {
  margin: 1.2rem 0;
  white-space: pre-wrap;
  -moz-user-select: text;
  pointer-events: auto;
  cursor: text;
}

[itemprop="comment"] [itemprop="text"] p:first-of-type {
  margin-top: 0;
}

[itemprop="comment"] [itemprop="text"] p:last-of-type {
  margin-bottom: 0;
}

[itemprop="comment"] [itemprop="text"] blockquote {
  margin: 0;
  border-left: .2rem solid;
  padding-left: 1rem;
}

[itemprop="comment"] .changes {
  border-top: .1rem solid;
}

[itemprop="comment"] header + .changes {
  border-top: 0 none;
}

[itemprop="comment"] .changes li {
  line-height: 1.5;
}

[itemprop="comment"] .changes li:not(:first-of-type) {
  margin-top: .8rem;
}

[itemprop="comment"] .changes ins {
  text-decoration: none;
}

.bug-attachments [itemprop="associatedMedia"] {
  overflow: hidden;
  margin: 1.2rem;
  border: .1rem solid;
  border-radius: .4rem;
}

.bug-attachments [itemprop="associatedMedia"] h4 {
  padding: .8rem 1.2rem;
  border-bottom: .1rem solid;
}

.bug-attachments [itemprop="associatedMedia"] > ul {
  padding: 1.2rem;
}

.bug-attachments [itemprop="associatedMedia"] li {
  margin: .4rem 0;
}

.bug-attachments [itemprop="associatedMedia"] li:first-of-type {
  margin-top: 0;
}

.bug-attachments [itemprop="associatedMedia"] li:last-of-type {
  margin-bottom: 0;
}

.bug-history table {
  margin: 1.2rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.bug-history th {
  font-weight: normal;
}

.bug-history thead th {
  width: 20%;
}

.bug-history thead th,
.bug-history tbody th,
.bug-history tbody td {
  border: .1rem solid;
  padding: .4rem .8rem;
  line-height: 1.5;
  text-align: left;
  vertical-align: top;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] > * {
  display: none;
}

#main-tabpanels > [role="tabpanel"] > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.2rem;
}

#main-tabpanels > [role="tabpanel"] > footer ul {
  text-align: right;
  overflow: auto;
}

#main-tabpanels > [role="tabpanel"] > footer [role="toolbar"] li {
  display: inline-block;
  padding: .8rem 1.6rem;
}

[id^="tabpanel-details-"][role="tablist"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: .8rem;
  height: 2.4rem;
  text-align: center;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"] {
  float: none;
  margin: 0 0 0 -.4rem;
  border-radius: 0;
  height: 1.6rem;
  text-align: center;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"]:not([aria-hidden="true"]):first-of-type {
  margin-right: 0;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"]:not([aria-hidden="true"]):last-of-type {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}
 
[id^="tabpanel-details-"].tabpanels {
  position: absolute;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}

#tabpanel-settings > div {
  right: 0;
  left: 0;
  overflow: hidden;
  padding: 0 4rem;
  width: auto !important;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
}

#tabpanel-settings > div > section {
  margin: 4rem 0;
  page-break-inside: avoid;
}

#tabpanel-settings > div > section h3 {
  padding: .8rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#tabpanel-settings > div > section > section {
  border-bottom: .1rem solid;
  padding: 1.6rem .8rem;
}

#tabpanel-settings > div > section > section:last-of-type {
  border: 0 none;
}

#tabpanel-settings > div > section > section h4 {
  float: left;
  width: calc(50% - 1em);
  font-weight: bold;
}

#tabpanel-settings > div > section > section > ul {
  margin-left: 50%;
}

#tabpanel-settings > div > section > section li {
  line-height: 1.8rem;
}

#tabpanel-settings > div > section > section li [role="radio"] {
  margin: 0;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

#tabpanel-settings > div > section > section li [role="radio"] + label {
  height: 1.8rem;
  line-height: 1.8rem;
}

[role="contentinfo"] {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3.2rem;
  width: 56rem;
}

[role="contentinfo"] [role="status"] {
  margin: .8rem;
  line-height: 1.6rem;
}

@keyframes throbber {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------------------
 * Desktop Layout
 * -------------------------------------------------------------------------- */

@media screen and (min-width: 980px) {

[id^="tabpanel-details-"] > div > .bug-info {
  width: 32rem;
}

[id^="tabpanel-details-"][role="tablist"],
[id^="tabpanel-details-"].tabpanels {
  left: 32rem;
}

} /* end @media */
