.scrollable {
  overflow: auto !important;
}

#app-login div {
  position: relative;
  top: 0;
  left: 0;
  margin: 2.4rem;
  width: auto;
  height: auto;
}

#app-login h1 {
  float: none;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.2rem;
}

#app-login div > *:not(h1) {
  margin-left: 0;
}

[role="banner"] {
  position: fixed;
  pointer-events: auto;
}

[role="banner"] h1 {
  padding-left: 4.5rem;
  width: auto;
  background-position: 1rem .5rem;
}

[role="banner"] h1:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: 4rem;
  background-position: 0 50%;
  transition: background-position .4s ease .2s;
  content: '';
}

:root[data-sidebar-hidden="false"] [role="banner"] h1:before {
  background-position: -.4rem 50%;
}

[role="banner"].search h1 {
  width: 0;
}

[role="banner"] [role="toolbar"] {
  left: auto;
}

[role="banner"].search [role="toolbar"] {
  left: 4.5rem;
}

#toolbar--search-menu {
  width: auto;
}

[role="banner"].search #toolbar--search-menu {
  left: 0;
}

#toolbar--search-menu > li:not([role="search"]) {
  display: none;
}

[role="banner"] [role="search"] {
  margin: .6rem .6rem .6rem 0;
  width: 2.8rem !important;
  height: 2.8rem !important;
}

[role="banner"].search [role="search"] {
  width: calc(100% - .6rem) !important;
}

[role="banner"] [role="search"] [role="textbox"] {
  display: none;
  border-radius: .8rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

[role="banner"].search [role="search"] [role="textbox"] {
  display: block;
}

[role="banner"] [role="search"] [role="button"] {
  margin: 0;
  width: 2.8rem;
  height: 2.8rem;
}

[role="banner"].search [role="search"] [role="button"] {
  margin-left: -2.6em;
}

#quicksearch-dropdown {
  overflow: auto;
  width: 100%;
  max-width: 100%;
  max-height: 20rem;
}

#quicksearch-dropdown [role="menuitem"] {
  padding: .4rem 1.2rem;
  font-size: 1.2rem;
}

#sidebar {
  position: fixed;
  top: 4rem;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, .3);
  transition: background-color .3s;
  pointer-events: auto;
}
  
#sidebar[aria-hidden="true"] {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#sidebar > div {
  position: absolute;
  top: 0;
  right: 4em;
  bottom: 0;
  left: 0;
  overflow: auto;
  max-width: calc(360px - 4rem);
  transition: all .4s ease .1s; /* Set transition-delay to avoid conflict with setAttribute on <html> */
}
#sidebar[aria-hidden="true"] > div {
  right: 100%;
  left: calc(-360px + 4rem);
}

#sidebar > div > section:not(:last-of-type) {
  margin-bottom: 2rem;
}

#sidebar h2 {
  border-bottom: .2rem solid;
  padding: .4rem 1.2rem;
  font-weight: bold;
}

#sidebar [role="option"],
#sidebar [role="menuitem"] {
  border-bottom: .1rem solid;
  padding: .8rem 1.2rem;
  height: 1.5em;
  font-size: 1.4rem;
  line-height: 1.5;
}

#sidebar [role="menuitem"][aria-selected="true"] {
  color: inherit;
  background-color: transparent;
}

#sidebar [role="option"]:last-of-type,
#sidebar [role="presentation"]:last-of-type [role="menuitem"],
#sidebar-account #main-menu--app--account {
  border-bottom: 0 none;
}

#sidebar-account h2 {
  position: absolute;
  left: -99999px;
}

#sidebar-account #main-menu--app--account {
  padding: 1.2rem;
}

#sidebar-account #main-menu--app--account label {
  font-size: 1.2rem;
}

#sidebar-menu #main-menu--app-menu {
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

#sidebar-menu #main-menu--app-menu:before {
  display: none;
}

#sidebar-menu [role="separator"] {
  display: none;
}

main {
  top: 4rem;
  bottom: 0;
  height: auto;
}

#main-tabpanels {
  top: 0;
}

#main-tabpanels > [role="tabpanel"] {
  overflow: auto;
}

#main-tabpanels > [role="tabpanel"][aria-busy="true"] {
  overflow: hidden;
}

#main-tabpanels > [role="tabpanel"] > header {
  position: absolute;
  left: -99999px;
}

#home-folder-pane {
  display: none;
}

#main-tablist {
  display: none;
}

#tab-home {
  /* display: none; */
}

#home-list-pane {
  left: 0;
  height: 100%;
}

[role="grid"] .grid-header {
  display: none;
}

[role="grid"] .grid-body {
  overflow: auto;
  height: 100%;
}

[role="grid"] .grid-body tbody tr[aria-selected="true"] {
  color: inherit !important;
  background-color: transparent !important;
}

[role="grid"] table,
[role="grid"] tbody,
[role="grid"] tr {
  display: block;
}

[role="grid"] tr {
  position: relative;
  border-bottom: .1rem solid;
  padding: 1rem 4rem 1rem .8rem;
  font-weight: normal;
}

[role="grid"] td {
  display: none;
  border: 0;
  height: auto;
  line-height: 1.2;
}

[role="grid"] td label {
  white-space: normal;
}

[role="grid"] td[data-id="id"],
[role="grid"] td[data-id="summary"],
[role="grid"] td[data-id="last_change_time"],
[role="grid"] td[data-id="_starred"] {
  display: block;
}

[role="grid"] td[data-id="summary"] {
  margin-top: .4rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

[role="grid"] tr[data-unread="true"] td[data-id="summary"] {
  font-weight: bold;
}

[role="grid"] td[data-id="last_change_time"] {
  position: absolute;
  top: 1rem;
  right: .8rem;
}

[role="grid"] td[data-id="_starred"] {
  position: absolute;
  top: 2.4rem;
  right: .8rem;
  width: 2.8rem;
  height: 2.8rem;
}

[role="grid"] td[data-id="_starred"] [role="checkbox"] {
  background-size: 64%;
}

#main-tabpanels [role="tabpanel"] > header,
#main-tabpanels [role="tabpanel"] > footer {
  display: none;
}

#main-tabpanels [role="tabpanel"] > div {
  top: 0;
  bottom: 0;
}

#home-preview-pane {
  display: none;
}

[role="contentinfo"] {
  display: none;
}

.bug-info, .bug-timeline {
  position: relative;
  width: 100%;
  bottom: auto;
  left: 0;
}

.bug-timeline h2 {
  padding: 0 1.2rem 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
}

.bug-attachments [itemprop="associatedMedia"] {
  margin: 0;
  border: 0;
}

.bug-history table,
.bug-history tbody,
.bug-history tr,
.bug-history th,
.bug-history td {
  display: block;
}

.bug-history table {
  margin: 0;
}

.bug-history thead {
  display: none;
}

.bug-history tbody tr {
  border-top: .1rem solid;
}

.bug-history tbody th {
  border: 0;
  padding: .4rem 1.2rem;
}

.bug-history tbody td {
  border-width: .1rem 0 0;
  padding: .4rem 1.2rem;
}

.bug-history tbody td[data-item="who"]:before { content: "Who: "; }
.bug-history tbody td[data-item="what"]:before { content: "What: "; }
.bug-history tbody td[data-item="removed"]:before { content: "Removed: "; }
.bug-history tbody td[data-item="added"]:before { content: "Added: "; }

[itemprop="comment"] {
  margin: 0;
  border-width: 0 0 .1rem;
  border-radius: 0;
}

[itemprop="comment"] header {
  padding: 0;
}

[itemprop="comment"] header [itemprop="author"] [itemprop="image"] {
  width: 4rem;
  height: 4rem;
}

[itemprop="comment"] header [itemprop="author"] [itemprop="name"] {
  padding-top: .5rem;
}

[itemprop="comment"] .changes {
  font-size: 1rem;
}

[id^="tabpanel-details-"][role="tablist"] {
  z-index: 100;
  transition: top .4s;
}

[id^="tabpanel-details-"][role="tablist"][aria-hidden="true"] {
  display: block;
  top: -4rem;
  transition-duration: .8s;
}

[id^="tabpanel-details-"][role="tablist"] [role="tab"] {
  padding: .4rem 1rem;
  width: auto;
}

[id^="tabpanel-details-"].tabpanels {
  top: 0;
}

[id^="tabpanel-details-"].tabpanels > [role="tabpanel"] {
  padding-top: 4rem;
}

#tabpanel-settings > div {
  overflow: auto;
  padding: 0 .8rem;
  pointer-events: auto;
  -moz-column-count: auto;
}

#tabpanel-settings > div > section {
  margin: .8rem 0;
}

#tabpanel-settings > div > section > section h4 {
  font-size: 1.2rem;
}

#tabpanel-settings > div > section > section li {
  margin: .8rem 0;
  font-size: 1.4rem;
}

[id^="tabpanel-search-"] [id$="-basic-search-pane"] {
  display: none; /* TEMP */
}

[id^="tabpanel-search-"] [id$="-result-pane"] {
  top: 0;
  height: 100% !important;
}

/* --------------------------------------------------------------------------
 * Portrait mode
 * -------------------------------------------------------------------------- */

@media (max-width: 360px) {

#tabpanel-settings > div > section > section h4 {
  float: none;
}

#tabpanel-settings > div > section > section > ul {
  margin: .8rem 0 0;
}

} /* end @media */

/* --------------------------------------------------------------------------
 * Small screen
 * -------------------------------------------------------------------------- */

@media (max-width: 320px) {

#app-login h1 {
  width: 4rem;
  height: 4rem;
}

} /* end @media */
