# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Charset
AddDefaultCharset UTF-8
AddCharset UTF-8 appcache css js webapp

# MIME types
AddType application/x-httpd-php html php
AddType image/x-icon ico
AddType text/cache-manifest appcache
AddType application/javascript js
AddType application/x-web-app-manifest+json webapp
AddType application/font-sfnt ttf
AddType application/font-woff woff
AddType application/font-woff2 woff2

# Options
DirectoryIndex index.php index.html
Options +SymLinksIfOwnerMatch -Indexes
RewriteEngine on

# Force SSL
RewriteCond %{HTTP_HOST} ^www\.bzdeck\.com$
RewriteCond %{HTTPS} off
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Redirects
RewriteRule ^about/?$       https://github.com/bzdeck/bzdeck/wiki [R,L]
RewriteRule ^faq/?$         https://github.com/bzdeck/bzdeck/wiki/FAQ [R,L]
RewriteRule ^privacy/?$     https://marketplace.firefox.com/app/bzdeck/privacy [R,L]
RewriteRule ^support/?$     https://github.com/bzdeck/bzdeck/wiki/FAQ [R,L]
RewriteRule ^screenshots/?$ https://www.facebook.com/BzDeck/photos_stream [R,L]

# Rewrite: static URLs
RewriteRule ^home/\w+$ / [L]
RewriteRule ^settings$ / [L]
RewriteRule ^(?:attachment|bug|search)/\d+$ / [L]
RewriteRule ^(?:profile)/.+$ / [L]

# Rewrite: misc
RewriteRule ^favicon\.ico$ /static/images/logo/favicon.ico [L]
RewriteRule ^static/scripts/combined\.js$ /components/combine-scripts.php [L]

# Performance: remove ETag
FileETag None

# Performance: set Cache-Control
Header always append Cache-Control private

# Performance: set Expires
ExpiresActive On
ExpiresDefault "access plus 1 day"
ExpiresByType text/cache-manifest "access plus 0 seconds"

# Performance: use gzip (Apache 2.x)
AddOutputFilterByType DEFLATE text/html text/cache-manifest text/css application/javascript application/x-web-app-manifest+json

# Security
Header always append Content-Security-Policy "\
  default-src 'self';\
  style-src 'self' 'unsafe-inline';\
  script-src 'self' https://secure.gravatar.com;\
  img-src 'self' 'unsafe-eval' blob: data:\
    https://bugzilla.mozilla.org https://*.bugzilla.mozilla.org\
    https://bugzilla-dev.allizom.org https://*.bugzilla-dev.allizom.org\
    https://secure.gravatar.com;\
  media-src mediastream:\
    https://bugzilla.mozilla.org https://*.bugzilla.mozilla.org\
    https://bugzilla-dev.allizom.org https://*.bugzilla-dev.allizom.org;\
  frame-src 'self'\
    https://bugzilla.mozilla.org https://*.bugzilla.mozilla.org\
    https://bugzilla-dev.allizom.org https://*.bugzilla-dev.allizom.org;\
  connect-src\
    https://bugzilla.mozilla.org wss://bugzfeed.mozilla.org\
    https://bugzilla-dev.allizom.org wss://bugzfeed-dev.allizom.org"
Header always append Strict-Transport-Security max-age=31536000
Header always append X-Frame-Options SAMEORIGIN
