/**
 * FlareTail Application Widgets
 * Copyright © 2015 Kohei Yoshino. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

html {
  font-size: 10px;
  line-height: 1;
}

body {
  margin: 0;
  position: relative;
  cursor: default;
}

:active {
  background-color: transparent; /* Suppress the default style on Firefox for mobile */
}

/* ----------------------------------------------------------------------------------------------
 * App
 * ---------------------------------------------------------------------------------------------- */

[role="application"] {
  -moz-user-select: none;
  pointer-events: none;
}

[role="application"] * {
  -moz-user-select: none;
}

[role="region"] {
  position: relative;
}

/* ----------------------------------------------------------------------------------------------
 * Tab View
 * ---------------------------------------------------------------------------------------------- */

[role="tablist"] {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

[role="tab"] {
  display: inline-block;
  position: relative;
  z-index: 101;
  float: left;
  box-sizing: border-box;
  list-style-type: none;
  pointer-events: auto;
}

[role="tab"][aria-selected="true"] {
  z-index: 102;
}

[role="tab"] span {
  display: inline-block;
}

[role="tab"] label {
  overflow: hidden;
  position: absolute;
  top: calc(50% - .8rem);
  left: 1.2rem;
  width: calc(100% - 4rem);
  height: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

[role="tablist"][data-removable="false"] [role="tab"] label {
  width: 100%;
}

[role="tab"] .close {
  position: absolute;
  top: calc(50% - .8rem);
  right: .8rem;
  padding: 0;
  width: 1.6rem;
  height: 1.6rem;
}

[role="tab"]:first-of-type:last-of-type .close {
  visibility: hidden;
}

/* ----------------------------------------------------------------------------------------------
 * Tree View
 * ---------------------------------------------------------------------------------------------- */

[role="tree"] {
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

[role="tree"] [role="group"] {
  margin: 0;
  padding: 0;
}

[role="tree"] li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  pointer-events: none;
}

[role="treeitem"] + .expander {
  display: block;
  margin-top: -1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  pointer-events: auto;
}

[role="treeitem"][aria-expanded="false"] {
  display: block;
}

[role="treeitem"][aria-expanded="false"] ~ [role="group"] {
  display: none;
}

[role="treeitem"] {
  display: block;
  padding-left: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  pointer-events: auto;
}

[role="treeitem"] label {
  display: block;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[role="treeitem"][aria-level="2"] + .expander {
  margin-left: 1.8rem;
}

[role="treeitem"][aria-level="2"] {
  padding-left: 4rem;
}

[role="treeitem"][aria-level="3"] + .expander {
  margin-left: 4rem;
}

[role="treeitem"][aria-level="3"] {
  padding-left: 6rem;
}

/* ----------------------------------------------------------------------------------------------
 * Grid View
 * ---------------------------------------------------------------------------------------------- */

[role="grid"] {
  position: relative;
  pointer-events: auto;
}

[role="grid"] table {
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

col[data-hidden="true"] {
  display: table-column;
  visibility: collapse;
  width: 0 !important;
}

[aria-hidden="true"]:-moz-any([role="columnheader"], [role="rowheader"], [role="gridcell"]) {
  display: table-cell !important;
}

[role="columnheader"],
[role="rowheader"],
[role="gridcell"] {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: left;
}

[role="columnheader"],
[role="rowheader"] {
  font-weight: normal;
}

[role="rowheader"],
[role="gridcell"] {
  pointer-events: none;
}

[aria-readonly="false"]:-moz-any([role="rowheader"], [role="gridcell"]) {
  pointer-events: auto;
}

:-moz-any([role="columnheader"], [role="rowheader"], [role="gridcell"]) label,
:-moz-any([role="columnheader"], [role="rowheader"], [role="gridcell"]) time {
  display: block;
  overflow: hidden;
  padding: 0 .4rem;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

[role="grid"] hgroup {
  position: absolute;
  left: -99999px;
}

[role="grid"] .grid-header {
  position: relative;
  height: 1.8rem;
}

[role="grid"] .grid-header [aria-sort] label {
  padding-right: 1.8rem;
}

[role="grid"] .grid-header [aria-sort] label::after {
  display: block;
  content: '';
  float: right;
  margin: 0 -1.8rem 0 0;
  width: 1.8rem;
  height: 1.8rem;
}


[role="grid"] .column-picker {
  position: absolute;
  top: 0;
  right: 0;
}

[role="grid"] .column-picker [role="menu"] {
  right: 0;
}

[role="grid"] .grid-body {
  position: relative;
  overflow: hidden;
  height: calc(100% - 1.8rem);
}

[role="grid"] .grid-body[aria-busy="true"],
[role="grid"] .grid-body tbody[aria-busy="true"] {
  visibility: hidden; /* for sorting performance */
}

[role="gridcell"] [role="checkbox"] {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

#column-drag-image-container {
  position: absolute;
  z-index: 10000;
  pointer-events: none;
}

canvas[id^="column-drag-image-"] {
  position: absolute;
  top: 0;
  z-index: 101;
  pointer-events: none;
  transition: left .5s;
}

canvas[id^="column-drag-image-"].follower {
  z-index: 102;
  opacity: .5;
  transition: none;
}

/* ----------------------------------------------------------------------------------------------
 * Menu
 * ---------------------------------------------------------------------------------------------- */

[role^="menu"] {
  display: block;
  margin: 0;
  padding: 0;
}

[role="menubar"] {
  position: absolute;
}

[role="menubar"],
[role="menu"] {
  z-index: 2000;
  pointer-events: auto;
}

:-moz-any([role="menubar"], [role="menu"]) > li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[role="menubar"] > li {
  float: left;
}

[role="menubar"] > li > [role="menuitem"] {
  padding: 0 .8rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

[role="menu"] {
  position: absolute;
  padding: .4rem 0; 
}

[role="menu"] [role="menu"] {
  top: -.4rem;
  left: 100%;
}

[role="menu"] [role="menu"].dir-left {
  right: 100%;
  left: auto;
}

[role="menu"] [role^="menuitem"] { /* exclude menubar items */
  padding: 0 2.4rem;
  line-height: 1.8rem;
  white-space: nowrap;
}

[role="menu"] [role="menuitem"][aria-haspopup="true"]::after { /* exclude menubar items */
  display: block;
  float: right;
  margin: -1.8rem -2.4rem 0 0;
  width: 1.8rem;
  height: 1.8rem;
  content: '';
}

a[role="menuitem"] {
  text-decoration: none;
  cursor: default;
}

[role^="menuitem"] label {
  display: block;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[role^="menuitem"][aria-checked="true"]::before {
  display: block;
  float: left;
  margin-left: -1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  content: '';
}

[role="menu"] [role="separator"] {
  margin: .4rem 0;
  border-width: 0 0 .1rem;
  border-style: solid;
  height: 0;
}

/* ----------------------------------------------------------------------------------------------
 * Dialog
 * ---------------------------------------------------------------------------------------------- */

.dialog-wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: auto;
}

[role$="dialog"] {
  position: absolute;
  top: calc(50% - 8rem);
  left: calc(50% - 24rem);
  box-sizing: padding-box;
  width: 48rem;
}

[role$="dialog"] header {
  padding: .8rem 1.2rem;
}

[role$="dialog"] h2 {
  margin: 0;
}

[role$="dialog"] > :not(:-moz-any(header, footer)) {
  margin: 1.2rem;
  line-height: 1.5rem;
}

[role$="dialog"] footer {
  padding: .8rem 1.2rem;
  text-align: right;
}

@media (max-width: 360px) {
  [role$="dialog"] {
    top: 25%;
    left: 1rem;
    width: calc(100% - 2rem);
  }
}

/* ----------------------------------------------------------------------------------------------
 * Splitter
 * ---------------------------------------------------------------------------------------------- */

.splitter {
  flex: none;
  position: relative;
  z-index: 200;
  pointer-events: auto;
}

.splitter[aria-orientation="horizontal"] {
  margin: -.2rem 0;
  height: .4rem;
  cursor: ns-resize;
}

.splitter[aria-orientation="vertical"] {
  margin: 0 -.2rem;
  width: .4rem;
  cursor: ew-resize;
}

[data-splitter] * {
  pointer-events: auto;
}

[data-splitter="horizontal"] {
  cursor: ns-resize;
}

[data-splitter="vertical"] {
  cursor: ew-resize;
}

/* ----------------------------------------------------------------------------------------------
 * Listbox
 * ---------------------------------------------------------------------------------------------- */

[role="listbox"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  pointer-events: auto;
}

[role="listbox"] [role="option"] {
  padding: 0 .4rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

[role="listbox"] [role="option"] label {
  display: block;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ----------------------------------------------------------------------------------------------
 * ScrollBar
 * ---------------------------------------------------------------------------------------------- */

[role="scrollbar"] {
  position: absolute;
  right: .2rem;
  z-index: 1000;
  outline: 0;
  width: .8rem;
  min-height: 1.6rem;
  opacity: .2;
  transition: opacity .3s;
  pointer-events: auto;
}

[role="scrollbar"]:hover,
[role="scrollbar"]:focus {
  opacity: .4;
}

[role="scrollbar"]:-moz-window-inactive,
[role="scrollbar"][aria-disabled="true"] {
  opacity: 0;
}

[role="region"] {
  pointer-events: auto;
}

.scrollable-area-content {
  position: relative;
}

.scrollable-area-observer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ----------------------------------------------------------------------------------------------
 * RadioGroup & CheckBox
 * ---------------------------------------------------------------------------------------------- */

[role="radio"],
[role="checkbox"] {
  display: inline-block;
  line-height: 1.2rem;
  vertical-align: top;
  pointer-events: auto;
}

[role="radio"]::before,
[role="checkbox"]::before {
  display: inline-block;
  margin-right: .4rem;
  width: 1.2rem;
  height: 1.2rem;
  background-position: center;
  vertical-align: top;
  content: '';
}

/* ----------------------------------------------------------------------------------------------
 * Button
 * ---------------------------------------------------------------------------------------------- */

[role="button"] {
  display: inline-block;
  background-image: none; /* Suppress the default style on Firefox for mobile */
  font-family: inherit; /* Suppress the default style on Firefox for mobile */
  pointer-events: auto;
}

/* ----------------------------------------------------------------------------------------------
 * Textbox
 * ---------------------------------------------------------------------------------------------- */

[role="textbox"] {
  display: inline-block;
  pointer-events: auto;
  background-color: transparent;
  background-image: none; /* Suppress the default style on Firefox for mobile */
  font-family: inherit; /* Suppress the default style on Firefox for mobile */
  -moz-user-select: text;
}

/* ----------------------------------------------------------------------------------------------
 * General attributes
 * ---------------------------------------------------------------------------------------------- */

[aria-haspopup] {
  pointer-events: auto;
}

[aria-hidden="true"] {
  display: none;
}

[aria-expanded="false"] {
  display: none;
}

[aria-disabled="true"] {
  pointer-events: none;
}

/* ----------------------------------------------------------------------------------------------
 * Mobile Support
 * ---------------------------------------------------------------------------------------------- */

[data-device|="mobile"]:root {
  font-size: 12px;
}

[data-device|="mobile"]:root [role="grid"] .grid-body {
  overflow: scroll;
}

[data-device|="mobile"]:root .splitter,
[data-device|="mobile"]:root [role="scrollbar"] {
  display: none;
}

[data-device|="mobile"]:root .scrollable-area-content {
  overflow: auto !important; /* use native scrollbar */
  width: 100%;
  height: 100%;
}
