/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[role="checkbox"],
[role="radio"] {
  line-height: 1.6rem;
}

[role="checkbox"]::before,
[role="radio"]::before {
  margin-right: .8rem;
  border: 1px solid var(--control-border-color);
  width: 1.6rem;
  height: 1.6rem;
  color: var(--base-accent-color-1);
  background-color: var(--control-background-color);
  box-shadow: inset 0 .1rem .2rem rgba(0, 0, 0, .1);
  font-family: FontAwesome;
  text-align: center;
  vertical-align: text-bottom;
}

[role="checkbox"]:focus::before,
[role="radio"]:focus::before {
  border-color: var(--base-accent-color-1);
}

[role="checkbox"]::before {
  border-radius: 4px;
}

[role="checkbox"][aria-checked="true"]::before {
  font-size: 1.4rem;
  content: "\F00C";
}

[role="radio"]::before {
  border-radius: 50%;
}

[role="radio"][aria-checked="true"]::before {
  font-size: 1.2rem;
  content: "\F111";
}

meta[role="checkbox"]::after {
  content: attr(aria-label);
} 

[role="button"] {
  border-color: var(--button-border-color);
  color: var(--button-foreground-color);
  background-color: var(--button-background-color);
}

[role="button"][aria-disabled="true"] {
  color: var(--disabled-button-foreground-color);
}

[role="button"]:not([aria-disabled="true"]):active {
  /* color: var(--pressed-button-foreground-color); */
  background-color: var(--pressed-button-background-color);
}

[role="button"],
[role="textbox"],
[role="searchbox"] {
  border-width: .1rem;
  border-style: solid;
  border-radius: .4rem;
  padding: .4rem .6rem;
  max-width: 100%;
  min-height: 1em;
  background-clip: padding-box;
  line-height: 1;
  text-decoration: none;
}

span[role="textbox"] {
  line-height: 1.4em;
}

.cta[role="button"] {
  display: block;
  margin: .8rem auto 0;
  padding: .8rem .4rem;
  border-color: var(--highlighted-button-border-color);
  border-radius: .8rem;
  width: 20rem;
  height: auto;
  color: var(--highlighted-button-foreground-color);
  background-color: var(--highlighted-button-background-color);
  background-repeat: repeat;
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: 300;
  font-style: italic;
  transition: all .2s;
}

.cta[role="button"]:active {
  background-color: var(--highlighted-button-background-color);
  filter: brightness(1.1);
}

.cta[role="button"][aria-disabled="true"] {
  filter: brightness(1.5) grayscale(100%);
}

.iconic[role="button"] {
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  background: transparent;
  text-indent: -99999px;
}

.iconic.text[role="button"] {
  width: auto !important;
  text-indent: 0;
}

.iconic[role="button"]::before {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: FontAwesome;
  text-indent: 0;
  justify-content: center;
  align-items: center;
}

.iconic.text[role="button"]::before {
  display: inline-flex;
  margin-right: .4rem;
  width: auto;
}

[role="textbox"],
[role="searchbox"] {
  border-color: var(--textbox-border-color);
  color: var(--textbox-foreground-color);
  background-color: var(--textbox-background-color);
}

[role="textbox"]::placeholder,
[role="searchbox"]::placeholder {
  color: var(--textbox-foreground-color);
}

[role="textbox"][aria-disabled="true"],
[role="searchbox"][aria-disabled="true"] {
  color: var(--disabled-textbox-foreground-color);
}

[role="textbox"]:focus,
[role="searchbox"]:focus {
  border-color: var(--active-textbox-border-color);
  color: var(--active-textbox-foreground-color);
  background-color: var(--active-textbox-background-color);
}

[role="combobox"] [role="searchbox"] {
  box-shadow: none;
}

[role="combobox"] [role="button"]::after {
  font-family: FontAwesome;
  content: '\F0DC';
}

[role="combobox"] [role="searchbox"]:focus ~ [role="button"]::after {
  color: var(--highlighted-button-background-color);
}

[role="combobox"] .listbox-outer {
  border-color: var(--control-border-color);
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .2);
}

[data-device|="mobile"]:root [role="combobox"] [role="option"] {
  padding: .4rem .8rem;
}

.distinct[role="textbox"],
.distinct[role="combobox"] [role="searchbox"] {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(1em + .8rem);
  color: var(--active-textbox-foreground-color);
  background-color: var(--active-textbox-background-color);
}

.distinct[role="textbox"][aria-disabled="true"],
.distinct[role="combobox"][aria-disabled="true"] [role="searchbox"] {
  border-color: transparent;
  box-shadow: none;
  color: var(--textbox-foreground-color);
  background-color: transparent;
}

.distinct[role="combobox"][aria-disabled="true"] [role="searchbox"] {
  padding: 0 .8rem;
  opacity: 1;
}

.distinct[role="combobox"][aria-disabled="true"] [role="button"] {
  display: none;
}

[role="grid"] {
  height: 100%;
  color: var(--grid-foreground-color);
  background-color: var(--grid-background-color);
}

col[data-hidden="false"] {
  width: auto;
}

[role="columnheader"] {
  border-width: 0 .1rem .1rem 0;
  border-style: solid;
  border-color: var(--grid-border-color);
  color: var(--grid-header-foreground-color);
  background-color: var(--grid-header-background-color);
  font-size: 1.1rem;
}

[role="columnheader"][aria-sort] {
  color: var(--selected-grid-header-foreground-color);
  background-color: var(--selected-grid-header-background-color);
}

[role="columnheader"][aria-sort] label::after {
  font-family: FontAwesome;
  line-height: 1.8rem;
  text-align: center;
}

[role="columnheader"][aria-sort="ascending"] label::after {
  content: "\F0D8" !important;
}

[role="columnheader"][aria-sort="descending"] label::after {
  content: "\F0D7" !important;
}

:-moz-any([role="columnheader"],
[role="gridcell"])[data-type="boolean"] {
  padding: 0;
  text-indent: -9999rem;
}

[role="rowheader"],
[role="gridcell"] {
  height: 2rem;
  line-height: 2rem;
}

#column-drag-image-container {
  background-color: var(--secondary-region-header-background-color);
}

[role="menu"] {
  border-radius: .4rem;
  background-color: var(--control-background-color);
}

[role="menu"] [role="separator"] {
  border-color: var(--control-border-color);
}

[role="menu"] [role^="menuitem"] {
  line-height: 2.4rem;
}

[data-device|="mobile"]:root [role="menu"] [role^="menuitem"] {
  padding: .4rem 2.4rem;
}

:-moz-any([role="option"], [role="treeitem"], [role^="menuitem"], [role="row"]) {
  color: var(--control-foreground-color);
}

:-moz-any([role="option"], [role="treeitem"], [role^="menuitem"], [role="row"])[aria-disabled="true"] {
  color: var(--disabled-control-foreground-color);
}

:-moz-any([role="option"], [role="treeitem"], [role^="menuitem"], [role="row"])[aria-selected="true"] {
  color: var(--inactive-selected-control-foreground-color);
  background-color: var(--inactive-selected-control-background-color);
}

[aria-activedescendant] :-moz-any([role="option"], [role="treeitem"], [role^="menuitem"], [role="row"])[aria-selected="true"] {
  color: var(--selected-control-foreground-color);
  background-color: var(--selected-control-background-color);
}

[role="menuitem"][aria-haspopup="true"]::after {
  background-image: -moz-image-rect(var(--base-sprite-image), 0, 32, 32, 0);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

[role^="menuitem"][aria-checked="true"]::before {
  background-image: -moz-image-rect(var(--base-sprite-image), 0, 64, 32, 32);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

[role="treeitem"][aria-expanded] + .expander {
  background-image: -moz-image-rect(var(--base-sprite-image), 0, 32, 32, 0);
  background-position: center;
  background-size: 56%;
  background-repeat: no-repeat;
  transition: transform .2s;
}

[role="treeitem"][aria-expanded="false"] + .expander {
  transform: rotate(-90deg);
}

[role="listbox"] {
  color: var(--control-foreground-color);
  background-color: var(--control-background-color);
}

[role="listbox"] [role="option"] {
  height: 2rem;
  line-height: 2rem;
}

[role="tab"] {
  border-width: 0 .1rem 0 0;
  border-style: solid;
  width: 12rem;
  height: 100%;
  background-clip: padding-box;
  line-height: 1.6rem;
}

[role="tab"][aria-disabled="true"] label {
  opacity: .5;
}

[role="tab"] .close {
  border-width: 0;
  border-radius: .2rem;
  background-position: center;
  background-size: 56%;
  background-repeat: no-repeat;
}

[role="tabpanel"],
[role="tabpanel"] > :not([role="scrollbar"]) {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

[role="scrollbar"] {
  border-radius: .8rem;
  background-color: var(--application-foreground-color);
}

.dialog-wrapper {
  animation: dissolve .2s;
}

[role$="dialog"] {
  border-radius: 0 0 .4rem .4rem;
  background-color: var(--application-background-color);
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .4);
  animation: pop .2s;
}

[role$="dialog"] header {
  color: var(--region-header-foreground-color);
  background-color: var(--region-header-background-color);
}

[role$="dialog"] header h2 {
  font-weight: 500;
}

[role$="dialog"] [role="button"] {
  padding: .4rem 1.6rem;
  height: auto;
}

[aria-busy="true"]::before {
  display: inline-block;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.6rem 0 0 -1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: -moz-image-rect(var(--base-sprite-image), 64, 256, 128, 192);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  animation: throbber 1s linear 0s infinite;
}

[itemtype$="User"] [itemprop="image"] {
  border-radius: 50%;
}

[itemtype$="User"] [itemprop="image"][src=""] {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: -moz-image-rect(var(--base-sprite-image), 64, 320, 128, 256);
  background-repeat: no-repeat;
  background-size: contain;
}
